@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot");
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("../fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("../fonts/FontAwesome/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu-Bold";
  src: url("../fonts/UbuntuBold/Ubuntu-B.eot");
  src: url("../fonts/UbuntuBold/Ubuntu-B.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuBold/Ubuntu-B.woff") format("woff"), url("../fonts/UbuntuBold/Ubuntu-B.ttf") format("truetype"), url("../fonts/UbuntuBold/Ubuntu-B.svg#Ubuntu-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("../fonts/UbuntuMedium/Ubuntu-M.eot");
  src: url("../fonts/UbuntuMedium/Ubuntu-M.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMedium/Ubuntu-M.woff") format("woff"), url("../fonts/UbuntuMedium/Ubuntu-M.ttf") format("truetype"), url("../fonts/UbuntuMedium/Ubuntu-M.svg#Ubuntu-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu-Light";
  src: url("../fonts/UbuntuLight/Ubuntu-L.eot");
  src: url("../fonts/UbuntuLight/Ubuntu-L.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuLight/Ubuntu-L.woff") format("woff"), url("../fonts/UbuntuLight/Ubuntu-L.ttf") format("truetype"), url("../fonts/UbuntuLight/Ubuntu-L.svg#Ubuntu-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../fonts/UbuntuRegular/Ubuntu-R.eot");
  src: url("../fonts/UbuntuRegular/Ubuntu-R.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuRegular/Ubuntu-R.woff") format("woff"), url("../fonts/UbuntuRegular/Ubuntu-R.ttf") format("truetype"), url("../fonts/UbuntuRegular/Ubuntu-R.svg#Ubuntu-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GTEestiProDisplay-Medium";
  src: url("../fonts/GTEestiProDisplay-Medium.eot");
  src: url("../fonts/GTEestiProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GTEestiProDisplay-Medium.woff") format("woff"), url("../fonts/GTEestiProDisplay-Medium.ttf") format("truetype"), url("../fonts/GTEestiProDisplay-Medium.svg#GTEestiProDisplay-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GTEestiProDisplay-Regular";
  src: url("../fonts/GTEestiProDisplay-Regular.eot");
  src: url("../fonts/GTEestiProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GTEestiProDisplay-Regular.woff") format("woff"), url("../fonts/GTEestiProDisplay-Regular.ttf") format("truetype"), url("../fonts/GTEestiProDisplay-Regular.svg#GTEestiProDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GTEestiProDisplay-Bold";
  src: url("../fonts/GTEestiProDisplay-Regular.eot");
  src: url("../fonts/GTEestiProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GTEestiProDisplay-Regular.woff") format("woff"), url("../fonts/GTEestiProDisplay-Regular.ttf") format("truetype"), url("../fonts/GTEestiProDisplay-Regular.svg#GTEestiProDisplay-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

button,
input,
select,
textarea {
  outline: none !important; }

.ib {
  display: inline-block; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.deal-star {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1;
  color: #ffc600; }
  .deal-star .fa {
    vertical-align: top; }

.deal-reviews {
  font-family: GT-Eesti-Medium;
  font-weight: 500;
  color: #b3b8c1; }

.deal-price {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: GT-Eesti-Medium;
  font-weight: 500;
  line-height: 1.4;
  text-align: right;
  color: #b3b8c1; }
  .deal-price span {
    display: inline-block;
    margin-left: 3px;
    font-size: 20px;
    font-size: 2rem;
    line-height: 1;
    color: #d0021b;
    font-family: Ubuntu-Medium;
    font-weight: 500; }

.list-radio {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .list-radio .item {
    position: relative;
    margin-right: 15px; }
    .list-radio .item label {
      display: block;
      padding-left: 30px;
      cursor: pointer; }
      .list-radio .item label::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #fff;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
      .list-radio .item label::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 5px;
        width: 10px;
        height: 10px;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -moz-transition: all 300ms;
        -o-transition: all 300ms;
        -webkit-transition: all 300ms;
        transition: all 300ms; }
    .list-radio .item input[type="radio"] {
      display: none !important; }
    .list-radio .item input[type="radio"]:checked + label::after {
      opacity: 1;
      visibility: visible; }

.form-control {
  display: inline-block;
  padding: 12px 10px 11px;
  font-size: 16px;
  font-size: 1.6rem;
  color: #666;
  background: #fff;
  resize: none;
  border-radius: 0;
  border: 1px solid #b7b7b7; }

.form-btn .btn {
  color: #fff;
  background: #3385d6;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }
  .form-btn .btn:hover {
    opacity: .7; }

.select-box {
  position: relative; }
  .select-box::after {
    content: "\f078";
    position: absolute;
    top: 50%;
    right: 15px;
    font-family: 'FontAwesome';
    font-size: 12px;
    font-size: 1.2rem;
    color: #666;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

.select-icon {
  position: relative; }
  .select-icon .form-control {
    padding-left: 20px !important; }
  .select-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    font-family: 'FontAwesome';
    font-size: 16px;
    font-size: 1.6rem;
    color: #666;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

.select-place {
  position: relative; }
  .select-place .form-control {
    padding-left: 20px !important; }
  .select-place::before {
    content: "\f041";
    left: 5px; }

.select-duration {
  position: relative; }
  .select-duration .form-control {
    padding-left: 25px !important; }
  .select-duration::before {
    content: "\f017";
    left: 7px; }

.select-calendar {
  position: relative; }
  .select-calendar .form-control {
    padding-left: 30px !important; }
  .select-calendar::before {
    content: "\f073";
    left: 7px; }

.select-passenger {
  position: relative; }
  .select-passenger .form-control {
    padding-left: 30px !important; }
  .select-passenger::before {
    content: "\f0c0";
    left: 7px; }

.number-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .number-box .number-btn {
    display: inline-block;
    padding: 10px;
    color: #42c1c7;
    cursor: pointer; }
    .number-box .number-btn.disable {
      color: #ebeef2;
      cursor: not-allowed; }
  .number-box input {
    width: 50px !important;
    margin: 0 5px;
    text-align: right;
    -webkit-appearance: none;
    direction: ltr;
    border: 1px solid #666; }

.search-box .tab-content {
  padding: 10px 10px 0;
  background: #0b0c0c7a; }
  .search-box .tab-content .tab-item {
    display: none; }
    .search-box .tab-content .tab-item#tour {
      display: block; }
  .search-box .tab-content .list-radio .item {
    color: #fff; }
  .search-box .tab-content #ticket_type_roundtrip {
    display: none; }

.search-box .form-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .search-box .form-box .form-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px; }
  .search-box .form-box .form-group {
    width: 21.05263%;
    max-width: 220px;
    margin-right: 10px; }
    .search-box .form-box .form-group:last-child {
      margin-right: 0; }
  .search-box .form-box .form-btn {
    width: 12.44019%;
    max-width: 130px;
    min-width: 120px; }
    .search-box .form-box .form-btn button {
      border: none; }
  .search-box .form-box .form-control {
    display: block;
    padding: 12px 10px 11px;
    width: 100%;
    border: none; }
  .search-box .form-box .input-group {
    position: relative; }
    .search-box .form-box .input-group .input-dropdown-mask {
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 9;
      display: none;
      width: 100vw;
      height: 100vw;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .search-box .form-box .input-group .input-dropdown-mask.show {
        display: block; }
    .search-box .form-box .input-group .input-dropdown {
      position: absolute;
      top: calc(100% + 15px);
      left: 0;
      z-index: 10;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 300px;
      padding: 20px;
      background: #fff;
      opacity: 0;
      visibility: hidden;
      -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
      -moz-transition: all 300ms;
      -o-transition: all 300ms;
      -webkit-transition: all 300ms;
      transition: all 300ms; }
      .search-box .form-box .input-group .input-dropdown.show {
        opacity: 1;
        visibility: visible; }
      .search-box .form-box .input-group .input-dropdown .form-control {
        border: 1px solid #b7b7b7;
        text-align: center; }
      .search-box .form-box .input-group .input-dropdown .input-dropdown-row {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: space-between;
        -moz-box-pack: space-between;
        -ms-flex-pack: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding: 10px 0; }
        .search-box .form-box .input-group .input-dropdown .input-dropdown-row.text-center {
          -webkit-box-pack: center;
          -moz-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center; }
      .search-box .form-box .input-group .input-dropdown .input-dropdown-name {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center; }

.top {
  background: #f1f1f1; }

.section-banner .top-banner {
  position: relative; }
  .section-banner .top-banner .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 98%;
    max-width: 1500px;
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    transform: translate(-50%); }
    .section-banner .top-banner .slick-arrow span {
      position: absolute;
      top: 50%;
      display: inline-block;
      cursor: pointer;
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      .section-banner .top-banner .slick-arrow span.arrow-prev {
        left: 0; }
      .section-banner .top-banner .slick-arrow span.arrow-next {
        right: 0; }
    .section-banner .top-banner .slick-arrow .fa {
      font-size: 52px;
      font-size: 5.2rem;
      color: #fff; }
  .section-banner .top-banner .search-box {
    position: absolute;
    top: calc(100% - 160px);
    left: 50%;
    z-index: 1;
    width: 96%;
    max-width: 1065px;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .section-banner .top-banner .tab-pannel {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: flex-start;
    -moz-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start; }
    .section-banner .top-banner .tab-pannel .item {
      margin-right: 2px; }
      .section-banner .top-banner .tab-pannel .item a {
        display: block;
        padding: 14px 20px;
        font-size: 17px;
        font-size: 1.7rem;
        color: #fff;
        text-transform: uppercase;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        -moz-transition: all 300ms;
        -o-transition: all 300ms;
        -webkit-transition: all 300ms;
        transition: all 300ms; }
        .section-banner .top-banner .tab-pannel .item a:hover, .section-banner .top-banner .tab-pannel .item a.active {
          background: #42c1c7;
          border-color: #42c1c7; }

.section-banner .banner-quality {
  padding: 15px 0 30px;
  background: #ebeef2; }
  .section-banner .banner-quality .list-quality {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .section-banner .banner-quality .list-quality .item {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: space-between;
      -moz-box-pack: space-between;
      -ms-flex-pack: space-between;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      width: 30.41667%; }
      .section-banner .banner-quality .list-quality .item .icon {
        width: 20.82192%; }
      .section-banner .banner-quality .list-quality .item .meta {
        width: 75.06849%; }
        .section-banner .banner-quality .list-quality .item .meta-name {
          font-size: 15px;
          font-size: 1.5rem;
          line-height: 1.6;
          letter-spacing: -0.5px;
          text-align: left;
          color: #337ab7; }
        .section-banner .banner-quality .list-quality .item .meta-text {
          font-size: 12px;
          font-size: 1.2rem;
          color: #999; }

.list-top-deals .item,
.list-on-sale .item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: flex-start;
  -moz-box-align: flex-start;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 15px;
  margin: 15px 0;
  background: #fff;
  -moz-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.15); }
  .list-top-deals .item .item-thumb,
  .list-on-sale .item .item-thumb {
    width: 30%; }
  .list-top-deals .item .item-title,
  .list-on-sale .item .item-title {
    margin-bottom: 5px; }
    .list-top-deals .item .item-title a,
    .list-on-sale .item .item-title a {
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 1.1;
      color: #337ab7; }
  .list-top-deals .item .item-meta,
  .list-on-sale .item .item-meta {
    position: relative;
    padding-left: 15px;
    margin-bottom: 8px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.3;
    color: #999; }
    .list-top-deals .item .item-meta .fa,
    .list-on-sale .item .item-meta .fa {
      position: absolute;
      top: 0;
      left: 0;
      color: #777; }
    .list-top-deals .item .item-meta-01,
    .list-on-sale .item .item-meta-01 {
      margin-bottom: 5px; }
  .list-top-deals .item .item-entry,
  .list-on-sale .item .item-entry {
    width: 67%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .list-top-deals .item .item-entry-bottom,
  .list-on-sale .item .item-entry-bottom {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: flex-end;
    -moz-box-align: flex-end;
    -ms-flex-align: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end; }
  .list-top-deals .item .deal-seller,
  .list-on-sale .item .deal-seller {
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.75;
    color: #fff;
    text-transform: uppercase;
    background: #1070a9;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
    .list-top-deals .item .deal-seller.deal-feature,
    .list-on-sale .item .deal-seller.deal-feature {
      background: #00aeef;
      padding: 0 20px 0 5px !important; }
  .list-top-deals .item .old-price,
  .list-on-sale .item .old-price {
    font-size: 15px;
    font-size: 1.5rem;
    text-align: right;
    color: #2c3e50;
    font-family: Ubuntu-Regular;
    font-weight: 400; }
    .list-top-deals .item .old-price span,
    .list-on-sale .item .old-price span {
      text-decoration: line-through; }
  .list-top-deals .item .deal-price,
  .list-on-sale .item .deal-price {
    text-align: right;
    color: #2c3e50; }
  .list-top-deals .item .deal-reviews,
  .list-on-sale .item .deal-reviews {
    margin-left: 3.65854%; }

.ttl-h2 {
  margin: 2% 0;
  font-size: 30px;
  font-size: 3rem;
  text-align: center;
  color: #337ab7 !important; }
  .ttl-h2.sz01 {
    font-size: 30px;
    font-size: 3rem; }
  .ttl-h2.sz02 {
    font-size: 26px;
    font-size: 2.6rem; }

.ttl-h3 {
  margin-bottom: 15px;
  font-size: 25px;
  font-size: 2.5rem;
  color: #337ab7; }

.btn-primary {
  display: inline-block;
  vertical-align: top;
  padding: 15px 25px;
  font-family: GT-Eesti-Bold;
  font-weight: 700;
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  background: #337ab7;
  -moz-border-radius: 48px;
  -webkit-border-radius: 48px;
  border-radius: 48px;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }
  .btn-primary:hover {
    background: #42c1c7; }
  .btn-primary .fa {
    position: relative;
    top: 2px;
    display: inline-block;
    margin-left: 5px;
    font-size: 18px;
    font-size: 1.8rem; }

.btn-green {
  font-family: Ubuntu-Bold;
  font-weight: 700;
  background: #42c1c7;
  margin-bottom: 20px; }
  .btn-green:hover {
    background: #337ab7; }

.btn-transparent {
  display: inline-block;
  vertical-align: top;
  padding: 8px 42px 8px 32px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.7;
  overflow: hidden;
  border: 2px solid #337ab7;
  -moz-border-radius: 48px;
  -webkit-border-radius: 48px;
  border-radius: 48px;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }
  .btn-transparent:hover {
    color: #fff;
    background: #337ab7; }
  .btn-transparent.green {
    color: #42c1c7;
    border-color: #42c1c7; }
    .btn-transparent.green:hover {
      color: #fff;
      background: #42c1c7; }

.btn-sp {
  display: inline-block;
  padding: 8px 20px;
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
  color: #337ab7;
  border: 1px solid #337ab7;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
  .btn-sp.st01 {
    color: #fff;
    font-family: GT-Eesti-Medium;
    font-weight: 500;
    background: #42c1c7;
    border-color: #42c1c7; }
  .btn-sp.st03 {
    color: #fff;
    font-family: GT-Eesti-Medium;
    font-weight: 500;
    background: #337ab7;
    border-color: #337ab7; }

.section-breadcrumb {
  padding: 20px 0; }
  .section-breadcrumb .breadcrumb {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: flex-start;
    -moz-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding: 0 20px; }
    .section-breadcrumb .breadcrumb li {
      position: relative;
      padding-right: 15px;
      margin-right: 15px; }
      .section-breadcrumb .breadcrumb li::after {
        content: '\f105';
        position: absolute;
        top: 0;
        left: 100%;
        font-size: 16px;
        font-size: 1.6rem;
        font-family: FontAwesome;
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); }
      .section-breadcrumb .breadcrumb li:last-child {
        padding-right: 0;
        margin-right: 0; }
        .section-breadcrumb .breadcrumb li:last-child::after {
          display: none; }
      .section-breadcrumb .breadcrumb li a,
      .section-breadcrumb .breadcrumb li span {
        display: inline-block; }
      .section-breadcrumb .breadcrumb li a {
        line-height: 1.1;
        font-size: 16px;
        font-size: 1.6rem;
        color: #42c1c7; }
      .section-breadcrumb .breadcrumb li span {
        color: #337ab7; }

.list-share-socials {
  margin: 15px 0 20px;
  font-size: 0; }
  .list-share-socials li {
    display: inline-block;
    margin-right: 5px; }
    .list-share-socials li:last-child {
      margin-right: 0; }
    .list-share-socials li a {
      display: inline-block;
      padding: 3px 8px 2px;
      font-size: 15px;
      font-size: 1.5rem;
      line-height: 1.3;
      color: #fff;
      background-color: #4267b2;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
      .list-share-socials li a:hover {
        background-color: #365899; }
      .list-share-socials li a.views-count {
        background: #337ab7; }
      .list-share-socials li a.twi {
        background-color: #1b95e0; }
        .list-share-socials li a.twi:hover {
          background-color: #0c7abf; }
      .list-share-socials li a.pin {
        background-color: #bd081c; }
        .list-share-socials li a.pin:hover {
          background-color: #aa0719; }

.widget-link {
  margin-bottom: 20px; }
  .widget-link .widget-ttl {
    padding: 2% 5%;
    text-align: center;
    font-size: 20px;
    font-size: 2rem;
    color: #fff;
    background: #42c1c7; }
  .widget-link .widget-content {
    padding: 4% 5%;
    background: #fff;
    border: 1px solid #b7b7b7; }
  .widget-link .list-item-01 li {
    margin-bottom: 8px; }
    .widget-link .list-item-01 li:last-child {
      margin-bottom: 0; }
    .widget-link .list-item-01 li a {
      font-size: 16px;
      font-size: 1.6rem;
      color: #337ab7;
      text-decoration: underline; }

.widget-maps {
  position: relative;
  padding-bottom: 67.14697%; }
  .widget-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }

.widget-post-tab {
  margin-bottom: 30px; }
  .widget-post-tab .post-tab-control {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 7px; }
    .widget-post-tab .post-tab-control li {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      text-align: center; }
      .widget-post-tab .post-tab-control li a {
        display: block;
        font-size: 20px;
        font-size: 2rem;
        line-height: 1.5;
        color: #337ab7;
        border: 1px solid #b7b7b7; }
        .widget-post-tab .post-tab-control li a:hover, .widget-post-tab .post-tab-control li a.active {
          color: #fff;
          background: #42c1c7;
          border-color: #42c1c7; }
  .widget-post-tab .post-tab-content {
    padding: 10px 11px 15px;
    border: 1px solid #b7b7b7; }
    .widget-post-tab .post-tab-content .list-post-tab {
      display: none; }
      .widget-post-tab .post-tab-content .list-post-tab.active {
        display: block; }
      .widget-post-tab .post-tab-content .list-post-tab li {
        position: relative;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: space-between;
        -moz-box-pack: space-between;
        -ms-flex-pack: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin-bottom: 11px; }
        .widget-post-tab .post-tab-content .list-post-tab li:last-child {
          margin-bottom: 0; }
        .widget-post-tab .post-tab-content .list-post-tab li .thumb {
          width: 37.03704%;
          margin-top: 4px; }
        .widget-post-tab .post-tab-content .list-post-tab li .meta {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-flow: wrap;
          -ms-flex-flow: wrap;
          flex-flow: wrap;
          width: 59.25926%; }
          .widget-post-tab .post-tab-content .list-post-tab li .meta .meta-tl {
            font-size: 16px;
            font-size: 1.6rem;
            font-family: GT-Eesti-Medium;
            font-weight: 500; }
            .widget-post-tab .post-tab-content .list-post-tab li .meta .meta-tl a {
              color: #337ab7; }
          .widget-post-tab .post-tab-content .list-post-tab li .meta .meta-info {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: space-between;
            -moz-box-pack: space-between;
            -ms-flex-pack: space-between;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            width: 100%;
            -webkit-box-align: flex-end;
            -moz-box-align: flex-end;
            -ms-flex-align: flex-end;
            -webkit-align-items: flex-end;
            align-items: flex-end;
            font-size: 13px;
            font-size: 1.3rem;
            line-height: 1.2;
            color: #777; }
            .widget-post-tab .post-tab-content .list-post-tab li .meta .meta-info .view {
              margin-right: 5px; }
        .widget-post-tab .post-tab-content .list-post-tab li .fa {
          position: absolute;
          top: 3px;
          left: 0; }
        .widget-post-tab .post-tab-content .list-post-tab li a:hover {
          color: #42c1c7;
          text-decoration: underline; }

.widget-search {
  margin-bottom: 20px; }
  .widget-search .widget-search-ttl {
    margin-bottom: 15px;
    font-size: 30px;
    font-size: 3rem;
    font-family: GT-Eesti-Medium;
    font-weight: 500;
    color: #337ab7;
    border-bottom: 3px solid #42c1c7; }
  .widget-search .search-group {
    position: relative; }
    .widget-search .search-group input {
      width: 100%;
      padding-right: 40px;
      border: 1px solid #b7b7b7; }
    .widget-search .search-group button {
      position: absolute;
      top: 0;
      height: 100%;
      right: 0;
      color: #42c1c7;
      background: rgba(0, 0, 0, 0);
      border: none; }

.widget-hot-deals .widget-hot-deals-ttl {
  padding: 6px 20px 5px;
  font-size: 30px;
  font-size: 3rem;
  font-family: GT-Eesti-Medium;
  font-weight: 500;
  color: #fff;
  background: #42c1c7; }

.widget-hot-deals .widget-content {
  padding: 0 20px 15px;
  background: #f7f7f7; }

.widget-hot-deals .widget-hot-deals-list li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #b7b7b7; }
  .widget-hot-deals .widget-hot-deals-list li .thumb {
    width: 39.67213%; }
  .widget-hot-deals .widget-hot-deals-list li .meta {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 57.37705%; }
    .widget-hot-deals .widget-hot-deals-list li .meta .meta-bottom {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: space-between;
      -moz-box-pack: space-between;
      -ms-flex-pack: space-between;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-box-align: flex-end;
      -moz-box-align: flex-end;
      -ms-flex-align: flex-end;
      -webkit-align-items: flex-end;
      align-items: flex-end; }
  .widget-hot-deals .widget-hot-deals-list li .meta-ttl {
    margin-bottom: 5px; }
    .widget-hot-deals .widget-hot-deals-list li .meta-ttl a {
      font-size: 12px;
      font-size: 1.2rem;
      font-family: GT-Eesti-Medium;
      font-weight: 500;
      color: #2c3e50; }
  .widget-hot-deals .widget-hot-deals-list li .meta-duration {
    font-size: 12px;
    font-size: 1.2rem;
    color: #999; }
    .widget-hot-deals .widget-hot-deals-list li .meta-duration .fa {
      margin-right: 3px; }
  .widget-hot-deals .widget-hot-deals-list li .deal-star {
    font-size: 12px;
    font-size: 1.2rem; }
  .widget-hot-deals .widget-hot-deals-list li .deal-price .from {
    font-size: 12px;
    font-size: 1.2rem;
    color: #2c3e50; }
    .widget-hot-deals .widget-hot-deals-list li .deal-price .from b {
      text-decoration: line-through; }
  .widget-hot-deals .widget-hot-deals-list li .deal-price .us {
    font-size: 10px;
    font-size: 1rem;
    color: #2c3e50; }
    .widget-hot-deals .widget-hot-deals-list li .deal-price .us b {
      font-size: 16px;
      font-size: 1.6rem;
      font-family: GT-Eesti-Medium;
      font-weight: 500;
      color: #d0021b; }

.widget-hot-deals .widget-hot-deals-viewmore {
  margin-top: 15px;
  text-align: right; }
  .widget-hot-deals .widget-hot-deals-viewmore .btn-primary {
    padding: 7px 12px;
    font-size: 14px;
    font-size: 1.4rem;
    font-family: GTEestiProDisplay-Regular;
    font-weight: 400;
    border-radius: 0; }

.widget-index .widget-content {
  padding: 20px; }

.widget-index .list-hd-index li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 15px; }
  .widget-index .list-hd-index li .fa {
    position: absolute;
    top: 3px;
    left: 0; }
  .widget-index .list-hd-index li a {
    display: inline-block;
    color: #337ab7;
    font-size: 16px;
    font-size: 1.6rem;
    border-bottom: 1px solid #337ab7; }
    .widget-index .list-hd-index li a:hover {
      color: #42c1c7;
      border-bottom-color: #42c1c7; }

.widget-faq {
  padding: 20px 15px 15px;
  border: 1px solid #b7b7b7; }
  .widget-faq .widget-faq-ttl {
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    font-size: 2rem;
    border-bottom: 1px solid #b7b7b7; }
    .widget-faq .widget-faq-ttl .fa {
      margin-right: 5px; }
  .widget-faq .widget-faq-desc {
    margin-bottom: 5px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.7;
    color: #777; }
  .widget-faq .list-check li {
    margin-bottom: 10px; }
  .widget-faq .viewmore {
    padding-top: 10px;
    border-top: 1px solid #b7b7b7; }
    .widget-faq .viewmore a {
      color: #42c1c7;
      text-decoration: underline; }
      .widget-faq .viewmore a:hover {
        color: #337ab7; }

.widget-list {
  padding: 10px 15px 9px;
  border: 1px solid #b7b7b7; }

.widget-detail {
  border: 1px solid #b7b7b7;
  border-top: 5px solid #42c1c7; }
  .widget-detail .pricedetail {
    padding: 25px 15px;
    border-bottom: 1px solid #b7b7b7; }
    .widget-detail .pricedetail b {
      text-decoration: line-through;
      font-family: GTEestiProDisplay-Regular;
      font-weight: 400;
      font-weight: normal; }
    .widget-detail .pricedetail span {
      font-size: 30px;
      font-size: 3rem;
      color: #d0021b; }
    .widget-detail .pricedetail .btn-box {
      margin-top: 10px; }
  .widget-detail .btn-primary {
    padding: 11px 31px;
    font-family: GTEestiProDisplay-Regular;
    font-weight: 400;
    font-size: 14px;
    font-size: 1.4rem; }
  .widget-detail .list-05 {
    padding: 20px 30px 10px; }

.might-like-box {
  margin-bottom: 30px; }
  .might-like-box .might-like-box-head {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .might-like-box .might-like-box-head .find-more {
      font-size: 20px;
      font-size: 2rem; }
      .might-like-box .might-like-box-head .find-more .fa {
        margin-left: 10px;
        color: #42c1c7; }

.form-booking {
  margin: 25px 0 12px;
  padding: 15px;
  color: #fff;
  background: #337ab7; }
  .form-booking .form-booking-text01 {
    margin-bottom: 10px;
    font-size: 30px;
    font-size: 3rem; }
  .form-booking .form-box {
    padding: 0 !important; }
    .form-booking .form-box .form-row {
      margin-bottom: 0 !important; }
    .form-booking .form-box .form-control {
      font-family: GT-Eesti-Medium;
      font-weight: 500;
      color: #337ab7;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px; }
    .form-booking .form-box .select-calendar::before, .form-booking .form-box .select-calendar::after,
    .form-booking .form-box .select-passenger::before,
    .form-booking .form-box .select-passenger::after {
      color: #337ab7; }
    .form-booking .form-box .form-group {
      max-width: inherit; }
      .form-booking .form-box .form-group.w-01 {
        width: 32.28916%; }
      .form-booking .form-box .form-group.w-02 {
        width: 37.95181%; }
      .form-booking .form-box .form-group.w-03 {
        width: 26.50602%; }
    .form-booking .form-box .input-group .input-dropdown {
      top: 100%;
      width: 100%;
      color: #337ab7;
      border: 1px solid #b7b7b7;
      border-top: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .form-booking .form-box .input-group .input-dropdown::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: calc(100% - 30px);
        height: 1px;
        background: #b7b7b7;
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); }
      .form-booking .form-box .input-group .input-dropdown .input-dropdown-name {
        text-align: left; }
        .form-booking .form-box .input-group .input-dropdown .input-dropdown-name label {
          font-family: GT-Eesti-Medium;
          font-weight: 500; }
      .form-booking .form-box .input-group .input-dropdown .form-control {
        width: 35px !important;
        padding: 5px !important; }
  .form-booking .form-btn .btn {
    font-family: GT-Eesti-Medium;
    font-weight: 500;
    color: #337ab7;
    background: #fff; }

.direction-checkout {
  margin-top: 37px; }
  .direction-checkout .check-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 800px;
    margin: 0 auto; }
    .direction-checkout .check-box:before {
      content: "";
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #d9d9d9;
      z-index: -1; }
    .direction-checkout .check-box .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 20px;
      font-size: 2rem;
      text-align: center; }
      .direction-checkout .check-box .item.cart {
        margin-left: 12.5%; }
      .direction-checkout .check-box .item.pay {
        margin: 0 11.25% 0 18.125%; }
      .direction-checkout .check-box .item.status-done .icon-cart {
        background: #3ec1c7;
        border-color: #3ec1c7; }
        .direction-checkout .check-box .item.status-done .icon-cart.icon-windows::before {
          background: url(../images/share/icon-windows.png); }
      .direction-checkout .check-box .item.status-current .icon-cart {
        background: #00425f;
        border-color: #00425f; }
        .direction-checkout .check-box .item.status-current .icon-cart::before {
          color: #fff; }
        .direction-checkout .check-box .item.status-current .icon-cart.icon-windows::before {
          background: url(../images/share/icon-windows.png); }
    .direction-checkout .check-box .icon-cart {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 58px;
      height: 58px;
      background: #fff;
      border: 1px solid #b7b7b7;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
      .direction-checkout .check-box .icon-cart.fa-shopping-cart:before {
        font-size: 24px;
        color: #fff; }
      .direction-checkout .check-box .icon-cart.icon-windows:before {
        content: "";
        display: block;
        width: 19px;
        height: 19px;
        background: url(../images/share/icon-windows-02.png); }
      .direction-checkout .check-box .icon-cart.fa-check:before {
        font-size: 22px;
        color: #999; }

.block-filter-by {
  padding: 20px 0 130px;
  overflow: hidden;
  background: #f5f9fb; }
  .block-filter-by .wrap {
    display: block; }
  .block-filter-by input[type="checkbox"] {
    display: none; }
  .block-filter-by .box-toggle {
    width: 100%;
    margin-bottom: 15px;
    padding: 20px 15px 25px;
    border: 1px solid #b7b7b7;
    background: #fff; }
    .block-filter-by .box-toggle .toggle-tl {
      position: relative;
      font-size: 25px;
      font-size: 2.5rem;
      color: #337ab7; }
      .block-filter-by .box-toggle .toggle-tl:after {
        position: absolute;
        top: 50%;
        right: 5px;
        content: '';
        width: 14px;
        height: 14px;
        margin-top: 2px;
        border-top: 3px solid #337ab7;
        border-right: 3px solid #337ab7;
        -moz-transform: translateY(-50%) rotate(-45deg);
        -o-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
        -webkit-transform: translateY(-50%) rotate(-45deg);
        transform: translateY(-50%) rotate(-45deg);
        -moz-transition: all 300ms;
        -o-transition: all 300ms;
        -webkit-transition: all 300ms;
        transition: all 300ms; }
      .block-filter-by .box-toggle .toggle-tl.hide:after {
        margin-top: -4px;
        -moz-transform: translateY(-50%) rotate(135deg);
        -o-transform: translateY(-50%) rotate(135deg);
        -ms-transform: translateY(-50%) rotate(135deg);
        -webkit-transform: translateY(-50%) rotate(135deg);
        transform: translateY(-50%) rotate(135deg); }
    .block-filter-by .box-toggle .toggle-cont {
      margin-top: 20px; }
    .block-filter-by .box-toggle .ttl {
      position: relative;
      margin: 30px 0 20px;
      font-size: 25px;
      font-size: 2.5rem;
      color: #337ab7; }
    .block-filter-by .box-toggle.duration {
      padding-bottom: 20px; }
  .block-filter-by .list-label {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .block-filter-by .list-label .item {
      display: none;
      margin: 0 2% 12px 0; }
      .block-filter-by .list-label .item .lb-01 {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 8px 10px;
        font-size: 15px;
        font-size: 1.5rem;
        text-align: center;
        color: #fff;
        background: #42c1c7;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px; }
      .block-filter-by .list-label .item input[type="checkbox"]:checked + .lb-01 {
        background: #337ab7; }
  .block-filter-by .accommodation .list-label .item .lb-01,
  .block-filter-by .travel .list-label .item .lb-01 {
    padding: 8px 15px;
    text-align: center; }
    .block-filter-by .accommodation .list-label .item .lb-01 .fa,
    .block-filter-by .travel .list-label .item .lb-01 .fa {
      display: none;
      margin-right: 10px; }
  .block-filter-by .accommodation .list-label .item input[type="checkbox"]:checked + .lb-01,
  .block-filter-by .travel .list-label .item input[type="checkbox"]:checked + .lb-01 {
    background: #337ab7; }
    .block-filter-by .accommodation .list-label .item input[type="checkbox"]:checked + .lb-01 .fa,
    .block-filter-by .travel .list-label .item input[type="checkbox"]:checked + .lb-01 .fa {
      display: inline-block; }
  .block-filter-by .btn-show-more {
    text-align: right; }
    .block-filter-by .btn-show-more a {
      display: inline-block;
      font-size: 15px;
      font-size: 1.5rem;
      color: #337ab7;
      text-decoration: underline; }
  .block-filter-by .start-end .sr-city {
    position: relative; }
    .block-filter-by .start-end .sr-city .lb-02 {
      position: absolute;
      top: 50%;
      left: 20px;
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      .block-filter-by .start-end .sr-city .lb-02 .fa {
        color: #777; }
  .block-filter-by .start-end .start-city {
    margin-bottom: 15px; }
  .block-filter-by .start-end .search-city {
    width: 100%;
    padding: 12px 10px 12px 60px;
    font-size: 16px;
    font-size: 1.6rem;
    background-color: #f7f7f7; }
  .block-filter-by .box-range .txt-val {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .block-filter-by .box-range .txt-val span {
      font-size: 16px;
      font-size: 1.6rem;
      color: #777; }
    .block-filter-by .box-range .txt-val .ml15 {
      margin-left: 15%; }
  .block-filter-by .box-range .box-inner {
    padding-right: 10px; }
  .block-filter-by .form-control {
    padding-left: 60px !important;
    width: 100%;
    border: none;
    background: #f7f7f7; }
  .block-filter-by .select-calendar::before {
    left: 20px; }
  .block-filter-by .search {
    position: relative; }
    .block-filter-by .search .search-ipt {
      width: 100%;
      padding: 12px 10px 12px 60px;
      font-size: 16px;
      font-size: 1.6rem;
      background-color: #f7f7f7; }
    .block-filter-by .search .lb-02 {
      position: absolute;
      top: 50%;
      left: 20px;
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      .block-filter-by .search .lb-02 .fa {
        color: #777; }
  .block-filter-by .box-results {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px 0 35px;
    text-align: center;
    -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
    border-top: 1px solid #b7b7b7;
    background: #fff; }
    .block-filter-by .box-results .result {
      width: 87.59259%;
      padding: 8px 8px 6px;
      font-size: 25px;
      font-size: 2.5rem;
      color: #fff;
      background: #42c1c7;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px; }

@media (max-width: 768px) {
  .btn-transparent {
    color: #42c1c7;
    border: 2px solid #42c1c7; }
    .btn-transparent:hover {
      color: #42c1c7;
      border: 2px solid #42c1c7; }
  .direction-checkout .check-box {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .direction-checkout .check-box .item {
      width: 150px; }
      .direction-checkout .check-box .item.cart, .direction-checkout .check-box .item.pay {
        margin: 0; }
  .section-breadcrumb .breadcrumb {
    padding: 0; }
    .section-breadcrumb .breadcrumb li {
      padding-right: 10px;
      margin-right: 10px; }
  .section-content .wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .section-content .main-content {
    width: 100%; }
  .section-content .sidebar {
    width: 100%; }
  .widget-hot-deals .widget-hot-deals-list li .meta-ttl a {
    font-size: 18px;
    font-size: 1.8rem; }
  .widget-hot-deals .widget-hot-deals-list li .deal-start,
  .widget-hot-deals .widget-hot-deals-list li .meta-duration {
    font-size: 14px;
    font-size: 1.4rem; }
  .widget-hot-deals .widget-hot-deals-list li .deal-price .from {
    font-size: 14px;
    font-size: 1.4rem; }
  .widget-hot-deals .widget-hot-deals-list li .deal-price .us {
    font-size: 14px;
    font-size: 1.4rem; }
    .widget-hot-deals .widget-hot-deals-list li .deal-price .us b {
      font-size: 18px;
      font-size: 1.8rem; } }

@media (max-width: 700px) {
  .select-box::after {
    right: 8px; }
  .section-banner .top-banner .slick-arrow {
    display: none !important; }
  .section-banner .top-banner .slick-list {
    height: 100%; }
    .section-banner .top-banner .slick-list .slick-track {
      height: 100%; } }

@media (max-width: 640px) {
  .section-banner .search-box {
    display: none; }
  .section-banner .banner-quality {
    display: none; } }

@media (max-width: 600px) {
  .direction-checkout .check-box {
    width: 100%; }
    .direction-checkout .check-box .item {
      width: 100px;
      font-size: 14px;
      font-size: 1.4rem; } }
