@font-face { font-family: "FontAwesome"; src: url("../fonts/FontAwesome/fontawesome-webfont.eot"); src: url("../fonts/FontAwesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("../fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("../fonts/FontAwesome/fontawesome-webfont.svg#FontAwesome") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "Ubuntu-Bold"; src: url("../fonts/UbuntuBold/Ubuntu-B.eot"); src: url("../fonts/UbuntuBold/Ubuntu-B.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuBold/Ubuntu-B.woff") format("woff"), url("../fonts/UbuntuBold/Ubuntu-B.ttf") format("truetype"), url("../fonts/UbuntuBold/Ubuntu-B.svg#Ubuntu-Bold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "Ubuntu-Medium"; src: url("../fonts/UbuntuMedium/Ubuntu-M.eot"); src: url("../fonts/UbuntuMedium/Ubuntu-M.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMedium/Ubuntu-M.woff") format("woff"), url("../fonts/UbuntuMedium/Ubuntu-M.ttf") format("truetype"), url("../fonts/UbuntuMedium/Ubuntu-M.svg#Ubuntu-Medium") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "Ubuntu-Light"; src: url("../fonts/UbuntuLight/Ubuntu-L.eot"); src: url("../fonts/UbuntuLight/Ubuntu-L.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuLight/Ubuntu-L.woff") format("woff"), url("../fonts/UbuntuLight/Ubuntu-L.ttf") format("truetype"), url("../fonts/UbuntuLight/Ubuntu-L.svg#Ubuntu-Light") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "Ubuntu-Regular"; src: url("../fonts/UbuntuRegular/Ubuntu-R.eot"); src: url("../fonts/UbuntuRegular/Ubuntu-R.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuRegular/Ubuntu-R.woff") format("woff"), url("../fonts/UbuntuRegular/Ubuntu-R.ttf") format("truetype"), url("../fonts/UbuntuRegular/Ubuntu-R.svg#Ubuntu-Regular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "GTEestiProDisplay-Medium"; src: url("../fonts/GTEestiProDisplay-Medium.eot"); src: url("../fonts/GTEestiProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GTEestiProDisplay-Medium.woff") format("woff"), url("../fonts/GTEestiProDisplay-Medium.ttf") format("truetype"), url("../fonts/GTEestiProDisplay-Medium.svg#GTEestiProDisplay-Medium") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "GTEestiProDisplay-Regular"; src: url("../fonts/GTEestiProDisplay-Regular.eot"); src: url("../fonts/GTEestiProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GTEestiProDisplay-Regular.woff") format("woff"), url("../fonts/GTEestiProDisplay-Regular.ttf") format("truetype"), url("../fonts/GTEestiProDisplay-Regular.svg#GTEestiProDisplay-Regular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "GTEestiProDisplay-Bold"; src: url("../fonts/GTEestiProDisplay-Regular.eot"); src: url("../fonts/GTEestiProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GTEestiProDisplay-Regular.woff") format("woff"), url("../fonts/GTEestiProDisplay-Regular.ttf") format("truetype"), url("../fonts/GTEestiProDisplay-Regular.svg#GTEestiProDisplay-Bold") format("svg"); font-weight: normal; font-style: normal; }

html.show { position: relative; height: 100vh; padding-right: 17px; overflow: hidden; }

.wrap { width: calc(100% - 30px); max-width: 1200px; margin: 0 auto; }

header .top-head { height: 38px; background: #094c86; }

header .top-head .wrap { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; max-width: 1200px !important; }

header .top-head .wrap ul { font-size: 0; }

header .top-head .wrap ul > li { position: relative; display: inline-block; }

header .top-head .wrap ul > li a { font-family: 'Ubuntu-Regular'; position: relative; display: block; padding: 0 15px; height: 38px; color: #ffffff; font-size: 14px; font-size: 1.4rem; line-height: 38px; text-transform: capitalize; }

header .top-head .wrap ul > li a span { position: relative; top: -7px; left: 5px; display: inline-block; width: 14px; height: 14px; color: #fff; font-size: 12px; font-size: 1.2rem; text-align: center; line-height: 14px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background: #fbcf00; }

header .top-head .wrap ul > li a i { margin-right: 2px; }

header .top-head .wrap ul > li a i:not(.fa-heart) { font-size: 16px; font-size: 1.6rem; }

header .top-head .wrap ul > li a.dropdown::after { position: relative; top: -3px; content: ''; display: inline-block; width: 7px; height: 7px; margin-left: 10px; border-right: 1px solid #3385d6; border-bottom: 1px solid #3385d6; -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }

header .top-head .wrap ul > li a.dropdown.user::after { display: none; }

header .top-head .wrap ul > li .dropdown-menu { position: absolute; top: calc(100% - 2px); left: 0; z-index: 1000; display: none; min-width: 160px; padding: 5px 0; margin: 2px 0 0; border: 1px solid rgba(0, 0, 0, 0.15); -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; background: #fff; -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); z-index: 222222; }

header .top-head .wrap ul > li .dropdown-menu li { display: block; padding: 0 16px; }

header .top-head .wrap ul > li .dropdown-menu li a { display: block; padding: 10px 0; color: #000; line-height: 1.42857; background: none !important; }

header .top-head .wrap ul > li .dropdown-menu li a:hover { color: #42c1c7; }

header .top-head .wrap ul > li .dropdown-menu.st02 li.profile { margin-bottom: 10px; }

header .top-head .wrap ul > li .dropdown-menu.st02 li.profile a { height: auto; border-bottom: 1px solid #969696; }

header .top-head .wrap ul > li:hover .dropdown-menu { display: block; }

header .main-head { padding: 15px 0 15px; border-bottom: 1px solid #b7b7b7; background-color: #c3d1e2; font-family: 'Ubuntu-Medium'; }

header .main-head .wrap { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; max-width: 1200px !important; }

header .main-head .wrap .logo { width: 16.66667%; min-width: 150px; margin: auto; }

header .main-head .wrap .logo a img { width: 100%; }

header .main-head .wrap .nav { width: 75.66667%; min-width: 440px; margin-top: 5px; font-size: 0; }

header .main-head .wrap .nav .form-search div { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; display: -webkit-box; display: -ms-flexbox; display: flex; }

header .main-head .wrap .nav .form-search div input { max-width: 60%; border-right: 0px !important; }

header .main-head .wrap .nav .form-search div a { max-width: 20%; display: inline-block !important; color: #999; background: #fff; border: 1px solid #b7b7b7; border-left: 0px !important; height: 47px; line-height: 47px; }

header .main-head .wrap .nav .form-search div a:hover { color: #999 !important; }

header .main-head .wrap .nav .item-drop.home { background-color: #094c86; color: #fff !important; border-bottom-left-radius: 10px; border-top-left-radius: 10px; }

header .main-head .wrap .nav .item-drop.home a { color: #fff !important; }

header .main-head .wrap .nav .item-drop:hover { background-color: #094c86; color: #fff !important; }

header .main-head .wrap .nav > li { position: relative; display: inline-block; }

header .main-head .wrap .nav > li:last-child { margin-right: 0; }

header .main-head .wrap .nav > li a { display: block; height: 40px; padding: 0 13px; color: #1a2b49; font-size: 14px; font-size: 1.4rem; line-height: 40px; text-transform: capitalize; }

header .main-head .wrap .nav > li a.active, header .main-head .wrap .nav > li a:hover { color: #fff; }

header .main-head .wrap .nav > li a.active.dropdown::after, header .main-head .wrap .nav > li a:hover.dropdown::after { border-color: #fff; }

header .main-head .wrap .nav > li .dropdown-menu { position: absolute; top: 100%; z-index: 99; display: none; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 700px; }

header .main-head .wrap .nav > li .dropdown-menu.st02 { width: 420px; }

header .main-head .wrap .nav > li .dropdown-menu.st02 .list-sub { width: 25%; }

header .main-head .wrap .nav > li .dropdown-menu.st02 .main-sub { width: 61.90476%; }

header .main-head .wrap .nav > li .dropdown-menu.st03 { left: inherit; right: 0; width: 260px; }

header .main-head .wrap .nav > li .dropdown-menu.st03 .main-sub { width: 100%; }

header .main-head .wrap .nav > li .dropdown-menu .list-sub { width: 28.57143%; background: #ffffff; }

header .main-head .wrap .nav > li .dropdown-menu .list-sub li a { color: #004985; font-size: 13px; font-family: 'Ubuntu-Regular'; }

header .main-head .wrap .nav > li .dropdown-menu .list-sub li a.active { border-bottom: 1px solid #bfbfbf; width: 85% !important; margin: auto; font-size: 14px !important; padding: 0px !important; }

header .main-head .wrap .nav > li .dropdown-menu .list-sub li a:hover { width: 98%; margin: auto; font-size: 13px; }

header .main-head .wrap .nav > li .dropdown-menu .main-sub { width: 73.33333%; padding: 18px 0 18px 15px; background: #ebeef2; }

header .main-head .wrap .nav > li .dropdown-menu .main-sub .inner-main-sub { display: none; }

header .main-head .wrap .nav > li .dropdown-menu .main-sub .inner-main-sub .sub-name { color: #1a2b49; font-size: 25px; font-size: 2.5rem; text-transform: capitalize; }

header .main-head .wrap .nav > li .dropdown-menu .main-sub .inner-main-sub .list-country { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

header .main-head .wrap .nav > li .dropdown-menu .main-sub .inner-main-sub .list-country li { width: 95.6px; margin-right: 25px; }

header .main-head .wrap .nav > li .dropdown-menu .main-sub .inner-main-sub .list-country li:nth-child(1), header .main-head .wrap .nav > li .dropdown-menu .main-sub .inner-main-sub .list-country li:nth-child(4n + 1), header .main-head .wrap .nav > li .dropdown-menu .main-sub .inner-main-sub .list-country li:nth-child(4n) { width: 72.46px; }

header .main-head .wrap .nav > li .dropdown-menu .main-sub .inner-main-sub .list-country li:nth-child(4n) { margin-right: 0; }

header .main-head .wrap .nav > li .dropdown-menu .main-sub .inner-main-sub .list-country li a { padding: 0; line-height: 2; height: auto; background: none !important; }

header .main-head .wrap .nav > li .dropdown-menu .main-sub .inner-main-sub .list-country li a:hover { color: #42c1c7; }

header .main-head .wrap .nav > li .dropdown-menu .main-sub .inner-main-sub .list-themse, header .main-head .wrap .nav > li .dropdown-menu .main-sub .inner-main-sub .list-more { margin-top: 10px; }

header .main-head .wrap .nav > li .dropdown-menu .main-sub .inner-main-sub .list-themse li a, header .main-head .wrap .nav > li .dropdown-menu .main-sub .inner-main-sub .list-more li a { padding: 0; height: auto; color: #666; font-size: 15px; font-size: 1.5rem; line-height: 2; }

header .main-head .wrap .nav > li .dropdown-menu .main-sub .inner-main-sub .list-themse li a:hover, header .main-head .wrap .nav > li .dropdown-menu .main-sub .inner-main-sub .list-more li a:hover { text-decoration: underline; background: none; }

header .main-head .wrap .nav .input-search { position: relative; float: right; }

header .main-head .wrap .nav .input-search:after { content: '\f002'; font-family: FontAwesome; position: absolute; top: 0; z-index: 1111; font-size: 16px; bottom: 0; margin: auto; height: 24px; color: #9e9e9e; right: 10%; }

header .main-head .wrap .nav .input-search .form-control { display: inline-block; padding: 5px 0px 5px; font-size: 16px; color: #666; background: #fff; resize: none; border: 1px solid #b7b7b7; width: 135px; -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; display: block; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: 0.25rem; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

header .main-head .wrap .nav li.item-drop:hover .dropdown-menu { display: -webkit-box; display: -ms-flexbox; display: flex; }

header .main-head .wrap .btn-menu-hamburger { position: absolute; top: calc(50% - 5px); left: 0; display: none; width: 35px; height: 20px; cursor: pointer; }

header .main-head .wrap .btn-menu-hamburger span { position: absolute; top: calc(50% - 1px); left: 0; width: 100%; height: 2px; background: #b7b7b7; }

header .main-head .wrap .btn-menu-hamburger span:nth-child(1) { top: 0; }

header .main-head .wrap .btn-menu-hamburger span:nth-child(3) { top: calc(100% - 2px); }

footer .need-help { padding: 60px 0 50px; font-size: 0; background: #f7f7f7; }

footer .need-help .wrap { position: relative; padding: 20px 0px 20px 0px; }

footer .need-help .avatar-help { display: inline-block; width: 15.61181% !important; margin-right: 4.21941%; vertical-align: middle; }

footer .need-help .help-info { display: inline-block; width: 77.63713%; vertical-align: middle; }

footer .need-help .help-info h2 { color: #337ab7; font-family: 'Ubuntu-Bold'; font-size: 59px; font-size: 5.9rem; line-height: 1.333; width: calc(100% - 195px); }

footer .need-help .help-info .help-txt .txt { display: inline-block; width: calc(100% - 146px); color: #337ab7; font-size: 20px; font-size: 2rem; position: relative; font-family: 'Ubuntu-Regular'; }

footer .need-help .help-info .help-txt .txt a { color: #4683bb; }

footer .need-help .help-info .help-txt .txt a:hover { text-decoration: underline; }

footer .need-help .help-btn { position: absolute; right: 8.53165%; display: inline-block; width: 170px; top: 0; bottom: 0; height: 48px; margin: auto; border: 1px solid #c1272d; font-family: 'Ubuntu-Medium'; background: #c1272d; border-radius: 30px; }

footer .need-help .help-btn a { display: block; height: 48px; padding-left: 10px; color: #fff; font-size: 16px; font-size: 1.6rem; line-height: 48px; text-align: center; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

footer .need-help .help-btn a i { position: relative; top: 2px; display: inline-block; margin-left: 5px; font-size: 18px; font-size: 1.8rem; }

footer .user-function { padding: 45px 0; }

footer .user-function .list-user-function { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; max-width: 775px; margin: 0 auto; }

footer .user-function .list-user-function li { display: inline-block; width: 175px; }

footer .user-function .list-user-function li:last-child { margin-right: 0; }

footer .user-function .list-user-function li a { display: block; color: #337ab7; font-size: 16px; font-size: 1.6rem; text-align: center; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

footer .user-function .list-user-function li a figure figcaption { margin-top: 5px; }

footer .user-function .list-user-function li a figure figcaption span { display: inline-block; }

footer .user-function .list-user-function li a:hover { color: #42c1c7; }

footer .foot-info { padding: 25px 0 0px; text-align: center; background: #12569b; position: relative; }

footer .foot-info::after { content: ''; width: 100%; height: 1px; background-color: white; position: absolute; top: 23%; left: 0; }

footer .foot-info .foot-bottom .wrap { border-bottom: 0px solid white; padding: 20px 0 20px 0; display: -webkit-box; display: -ms-flexbox; display: flex; }

footer .foot-info .foot-bottom .wrap .txt-copy, footer .foot-info .foot-bottom .wrap .pay { width: 50%; }

footer .foot-info .foot-bottom .wrap .list-icon-pay { text-align: right; }

footer .foot-info .foot-bottom .wrap .list-icon-pay .item { display: inline-block; width: 42px; height: 29px; background: url(/Mekong-delta-tours/common/images/share/paypay.png) no-repeat; background-size: auto; }

footer .foot-info .foot-bottom .wrap .list-icon-pay .item.icon-1 { background-position: 0 0; }

footer .foot-info .foot-bottom .wrap .list-icon-pay .item.icon-2 { background-position: 0 -30; }

footer .foot-info .foot-bottom .wrap .list-icon-pay .item.icon-3 { background-position: 0 -60; }

footer .foot-info .foot-bottom .wrap .list-icon-pay .item.icon-4 { background-position: 0 -90; }

footer .foot-info .foot-bottom .wrap .list-icon-pay .item.icon-5 { background-position: 0 -120; }

footer .foot-info .foot-bottom .wrap .list-icon-pay .item.icon-6 { background-position: 0 -150; }

footer .foot-info .foot-bottom .wrap .txt-copy { text-align: left; font-size: 14px !important; color: white; }

footer .foot-info .wrap { border-bottom: 1px solid white; padding-bottom: 30px; }

footer .foot-info .foot-sub { display: -webkit-box; display: -ms-flexbox; display: flex; font-family: 'Ubuntu-Regular'; }

footer .foot-info .foot-sub .firt-title { padding-top: 16px; font-family: 'Ubuntu-Bold'; }

footer .foot-info .foot-sub .col-1-ul, footer .foot-info .foot-sub .col-2-ul { margin-right: 90px; }

footer .foot-info .foot-sub .col-3-ul { width: 50%; text-align: left; }

footer .foot-info .foot-sub .col-3-ul ul { margin-bottom: 10px; }

footer .foot-info .foot-sub .col-3-ul ul li { line-height: 1.5; font-size: 15px; color: white; text-align: justify; }

footer .foot-info .foot-sub .col-2-ul { width: 50% !important; text-align: left; }

footer .foot-info .foot-sub .col-2-ul .title { color: white; font-size: 16px; font-size: 1.6rem; }

footer .foot-info .foot-sub .col-2-ul li a { font-size: 15px; color: white; line-height: 1.5; text-align: justify; }

footer .foot-info .foot-sub .col-1-ul { width: 25.31646% !important; }

footer .foot-info .foot-sub .col-1-ul .logo { margin-bottom: 10px; }

footer .foot-info .foot-sub .col-1-ul li { font-size: 15px; text-align: left; color: white; text-align: justify; line-height: 1.5; }

footer .foot-info .foot-sub .col-1-ul li p { padding-bottom: 5px; }

footer .foot-info .foot-sub .col-1-ul li .form-group.form-btn { display: -webkit-box; display: -ms-flexbox; display: flex; }

footer .foot-info .foot-sub .col-1-ul li input { width: 82.33333%; border: none; }

footer .foot-info .foot-sub .col-1-ul li .btn { width: 17.66667%; background-color: #f5a623; border: none; }

footer .foot-info .foot-sub .col-1-ul .form { padding-top: 8.13008%; }

footer .foot-info .foot-menu { width: 65.6304%; text-align: left; margin-bottom: 50px; font-family: 'Ubuntu-Bold'; position: relative; }

footer .foot-info .foot-menu .contact { float: right; display: -webkit-box; margin-right: -30%; }

footer .foot-info .foot-menu .contact .follow-us { line-height: 2.5; }

footer .foot-info .foot-menu .contact li { color: #fff; margin-right: 3%; }

footer .foot-info .foot-menu .contact li a i { font-size: 30px; }

footer .foot-info .foot-menu ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

footer .foot-info .foot-menu ul li { position: relative; padding-right: 3%; }

footer .foot-info .foot-menu ul li a { color: #ffffff !important; font-size: 16px; }

footer .foot-info .list-social { margin-bottom: 45px; font-size: 0; }

footer .foot-info .list-social li { display: inline-block; width: 53px; margin: 0 1.85654%; }

footer .foot-info .list-social li a { position: relative; display: block; height: 53px; color: #42c1c7; font-size: 28px; font-size: 2.8rem; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background: #35434e; overflow: hidden; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

footer .foot-info .list-social li a i { position: absolute; top: 50%; left: 0; width: 100%; -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }

footer .foot-info .list-social li a:hover { color: #337ab7; background: #42c1c7; }

footer .foot-info .flogo a { -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

footer .foot-info .flogo a:hover { opacity: 0.7; }

footer .foot-info .copy-txt { margin: 25px 0 20px; color: #fff; font-size: 16px; font-size: 1.6rem; }

footer .foot-info .copy-txt a { color: #42c1c7; }

footer .foot-info .copy-txt a:hover { text-decoration: underline; }

footer .foot-info .list-icon-pay .item { display: inline-block; width: 42px; height: 29px; background: url(/common/images/share/paypay.png) no-repeat; background-size: auto; }

footer .foot-info .list-icon-pay .item.icon-1 { background-position: 0 0; }

footer .foot-info .list-icon-pay .item.icon-2 { background-position: 0 -30px; }

footer .foot-info .list-icon-pay .item.icon-3 { background-position: 0 -60px; }

footer .foot-info .list-icon-pay .item.icon-4 { background-position: 0 -90px; }

footer .foot-info .list-icon-pay .item.icon-5 { background-position: 0 -120px; }

footer .foot-info .list-icon-pay .item.icon-6 { background-position: 0 -150px; }

.board-menu-sp { position: absolute; top: 0; left: -100%; z-index: 10001; width: 78.24074%; max-width: 320px; height: 100vh; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }

.board-menu-sp.show { left: 0; }

.board-menu-sp .main-board { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff; }

.board-menu-sp .main-board .top-main-board { background: #3385d6; }

.board-menu-sp .main-board .top-main-board .top-nav { font-size: 0; text-align: center; }

.board-menu-sp .main-board .top-main-board .top-nav li { display: inline-block; margin: 0 2%; padding-top: 6%; }

.board-menu-sp .main-board .top-main-board .top-nav li a { color: #fff; font-size: 22px; font-size: 2.2rem; text-decoration: underline; }

.board-menu-sp .main-board .top-main-board .user-cont { margin-top: 7.10059%; text-align: center; }

.board-menu-sp .main-board .top-main-board .user-cont .avatar { margin-bottom: 10px; }

.board-menu-sp .main-board .top-main-board .user-cont .avatar img { width: 17.15976%; min-width: 80px; }

.board-menu-sp .main-board .top-main-board .user-cont .hi-txt { color: #fff; font-size: 24px; font-size: 2.4rem; }

.board-menu-sp .main-board .top-main-board .user-cont .frmsearch-menu { position: relative; width: 90%; height: 38px; margin: 5% auto; font-size: 0; background: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.31); -webkit-box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.31); box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.31); overflow: hidden; }

.board-menu-sp .main-board .top-main-board .user-cont .frmsearch-menu .txtKey { position: absolute; top: 0; left: 0; width: 83.76289%; height: 100%; padding-left: 7.69231%; color: #337ab7; font-size: 22px; font-size: 2.2rem; border: none; outline: none; }

.board-menu-sp .main-board .top-main-board .user-cont .frmsearch-menu .txtKey::-webkit-input-placeholder { color: #666; font-style: italic; }

.board-menu-sp .main-board .top-main-board .user-cont .frmsearch-menu .txtKey::-moz-placeholder { color: #666; font-style: italic; }

.board-menu-sp .main-board .top-main-board .user-cont .frmsearch-menu .txtKey:-ms-input-placeholder { color: #666; font-style: italic; }

.board-menu-sp .main-board .top-main-board .user-cont .frmsearch-menu .txtKey:-moz-placeholder { color: #666; font-style: italic; }

.board-menu-sp .main-board .top-main-board .user-cont .frmsearch-menu .cmdSearch { position: absolute; top: 0; right: 0; width: 16.23711%; height: 100%; color: #337ab7; font-size: 26px; font-size: 2.6rem; outline: none; }

.board-menu-sp .main-board .top-main-board .user-cont .frmsearch-menu .cmdSearch::before { position: absolute; top: 50%; left: 0; content: ''; width: 1px; height: 30px; margin-top: -15px; background: #e5e5e5; }

.board-menu-sp .main-board .top-main-board .transfer-nav > li > a { position: relative; display: block; padding: 4% 5%; color: #fff; font-size: 22px; font-size: 2.2rem; }

.board-menu-sp .main-board .top-main-board .transfer-nav > li > a::after { position: absolute; top: calc(50% - 2px); right: 10%; content: ''; width: 10px; height: 10px; border-bottom: 2px solid #fff; border-right: 2px solid #fff; -moz-transform: translateY(-50%) rotate(45deg); -o-transform: translateY(-50%) rotate(45deg); -ms-transform: translateY(-50%) rotate(45deg); -webkit-transform: translateY(-50%) rotate(45deg); transform: translateY(-50%) rotate(45deg); }

.board-menu-sp .main-board .top-main-board .transfer-nav > li > a i { position: relative; top: 2px; width: 27px; margin-right: 5%; color: #42c1c7; font-size: 25px; font-size: 2.5rem; }

.board-menu-sp .main-board .top-main-board .transfer-nav > li ul { display: none; }

.board-menu-sp .main-board .top-main-board .transfer-nav > li:first-child > a { border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.board-menu-sp .main-board .center-main-board ul > li > a { position: relative; display: block; padding: 4% 5%; color: #337ab7; font-size: 22px; font-size: 2.2rem; border-bottom: 1px solid #1d1d26; }

.board-menu-sp .main-board .center-main-board ul > li > a::after { position: absolute; top: 50%; right: 10%; content: ''; width: 10px; height: 10px; border-top: 2px solid #337ab7; border-right: 2px solid #337ab7; -moz-transform: translateY(-50%) rotate(45deg); -o-transform: translateY(-50%) rotate(45deg); -ms-transform: translateY(-50%) rotate(45deg); -webkit-transform: translateY(-50%) rotate(45deg); transform: translateY(-50%) rotate(45deg); }

.board-menu-sp .main-board .foot-main-board { position: absolute; bottom: 0; left: 0; width: 100%; padding: 3% 5% 1%; border-top: 1px solid #1d1d26; }

.board-menu-sp .main-board .foot-main-board i { margin-right: 4%; color: #42c1c7; font-size: 40px; font-size: 4rem; }

.board-menu-sp .main-board .foot-main-board a { position: relative; top: -8px; display: inline-block; color: #337ab7; font-family: GT-Eesti-Medium; font-weight: 500; font-size: 22px; font-size: 2.2rem; }

#mask { position: absolute; top: 0; left: 0; display: none; z-index: 10000; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5); }

#mask .btn-close-menu { position: absolute; top: 0; right: 5.55556%; color: #42c1c7; font-size: 50px; font-size: 5rem; cursor: pointer; }

.top.home-page { background-color: #f1f1f1; }

.search-global { position: relative; z-index: 9999; display: none; padding: 4% 0; background: #e7ecee; }

.search-global .wrap { position: relative; }

.search-global .wrap .st_search { position: relative; height: 45px; font-size: 0px; font-size: 0rem; background: #fff; -moz-box-shadow: inset 0px 3px 6px 0 rgba(0, 0, 0, 0.15); -webkit-box-shadow: inset 0px 3px 6px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0px 3px 6px 0 rgba(0, 0, 0, 0.15); overflow: hidden; }

.search-global .wrap .st_search p { position: relative; display: inline-block; font-size: 20px; font-size: 2rem; }

.search-global .wrap .st_search p input { width: 100%; height: 45px; }

.search-global .wrap .st_search p input::-webkit-input-placeholder { color: #b7b7b7; }

.search-global .wrap .st_search p input::-moz-placeholder { color: #b7b7b7; }

.search-global .wrap .st_search p input:-ms-input-placeholder { color: #b7b7b7; }

.search-global .wrap .st_search p input:-moz-placeholder { color: #b7b7b7; }

.search-global .wrap .st_search p.p_date { width: 31.08808%; }

.search-global .wrap .st_search p.p_date input { width: 100%; padding-top: 5px; padding-left: 45px; padding-right: 5px; -moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; }

.search-global .wrap .st_search p.p_date i { position: absolute; top: 50%; left: 15px; color: #777; font-size: 30px; font-size: 3rem; -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.search-global .wrap .st_search p.p_date::after { position: absolute; top: 53%; right: 0; content: ''; width: 2px; height: 80%; background: rgba(0, 0, 0, 0.1); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.search-global .wrap .st_search p.p_key { width: 62.17617%; }

.search-global .wrap .st_search p.p_key input { width: 100%; padding: 5px 6% 0; }

.search-global .wrap .st_search p.p_btn { position: absolute; top: 0; right: 0; width: 60px; }

.search-global .wrap .st_search p.p_btn .cmdSearch { width: 100%; height: 45px; color: #fff; font-size: 30px; font-size: 3rem; background: #42c1c7; -moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0; -moz-box-shadow: inset 0px -3px 6px 0 rgba(0, 0, 0, 0.15); -webkit-box-shadow: inset 0px -3px 6px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0px -3px 6px 0 rgba(0, 0, 0, 0.15); }

.search-global .wrap .suggest { position: absolute; top: calc(100% + 3px); left: 0; display: none; width: 100%; padding: 4% 5%; background: #fff; -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15); box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15); -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.search-global .wrap .suggest ul li { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: space-between; -moz-box-pack: space-between; -ms-flex-pack: space-between; -webkit-justify-content: space-between; justify-content: space-between; margin-bottom: 5px; }

.search-global .wrap .suggest ul li span { display: block; font-size: 20px; font-size: 2rem; line-height: 1.4; }

.search-global .wrap .suggest ul li span.txt { width: 68%; color: #337ab7; }

.search-global .wrap .suggest ul li span.cat { width: 30%; color: #b7b7b7; text-align: right; }

.mfp-fade.mfp-bg { opacity: 0; -moz-transition: all 300ms ease-out; -o-transition: all 300ms ease-out; -webkit-transition: all 300ms ease-out; transition: all 300ms ease-out; }

.mfp-fade.mfp-bg.mfp-ready { opacity: 0.8; }

.mfp-fade.mfp-bg.mfp-removing { opacity: 0; -moz-transition-delay: 200ms; -o-transition-delay: 200ms; -webkit-transition-delay: 200ms; transition-delay: 200ms; }

.mfp-fade.mfp-wrap .mfp-content { opacity: 0; -moz-transform: translate(0, -50%); -o-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); -moz-transition: all 300ms ease-out; -o-transition: all 300ms ease-out; -webkit-transition: all 300ms ease-out; transition: all 300ms ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content { opacity: 1; -moz-transform: translate(0, 0); -o-transform: translate(0, 0); -ms-transform: translate(0, 0); -webkit-transform: translate(0, 0); transform: translate(0, 0); }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content { opacity: 0; -moz-transform: translate(0, -50%); -o-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }

.modal-login { position: absolute; top: 0; left: 0; z-index: 9999; display: none; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.2); overflow: auto; }

.modal-login #modal-login-bg { position: absolute; top: 0; left: 0; z-index: 9999; width: 100%; height: 100%; }

.modal-login .modal-login-dialog { position: absolute; top: -200%; left: 50%; z-index: 10000; width: 100%; max-width: 400px; margin: 30px auto; padding: 50px 20px 30px; text-align: center; border: 1px solid #fff; background: #fff; -moz-transform: translateX(-50%); -o-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.modal-login .modal-login-dialog .close { position: absolute; top: 0; right: 0; display: inline-block; width: 40px; height: 40px; cursor: pointer; color: #c6c8d0; -moz-transition: all 300ms ease-out; -o-transition: all 300ms ease-out; -webkit-transition: all 300ms ease-out; transition: all 300ms ease-out; }

.modal-login .modal-login-dialog .close:hover { color: #337ab7; }

.modal-login .modal-login-dialog .close::before { content: '\f057'; position: absolute; top: 50%; left: 50%; font-family: FontAwesome; font-size: 40px; font-size: 4rem; -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.modal-login.open { display: block; }

.login-box, .register-box { max-width: 500px; margin: 0 auto; padding: 50px 20px 30px; text-align: center; color: #337ab7; font-size: 16px; font-size: 1.6rem; }

.login-box .lead-login, .register-box .lead-login { margin-bottom: 10px; font-size: 24px; font-size: 2.4rem; }

.login-box .txt, .register-box .txt { margin-bottom: 15px; }

.login-box .btn a, .register-box .btn a { position: relative; display: inline-block; width: 90%; height: 50px; max-width: 320px; padding: 0 6.25%; color: #fff; font-size: 18px; font-size: 1.8rem; text-align: center; line-height: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; background: #fa8401; -moz-transition: all 300ms ease-out; -o-transition: all 300ms ease-out; -webkit-transition: all 300ms ease-out; transition: all 300ms ease-out; }

.login-box .btn a i, .register-box .btn a i { position: absolute; top: 50%; left: 20px; width: 40px; font-size: 20px; font-size: 2rem; text-align: center; -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); vertical-align: middle; }

.login-box .btn a:hover, .register-box .btn a:hover { opacity: 1; }

.login-box .btn.log-google, .register-box .btn.log-google { margin-top: 10px; }

.login-box .btn.log-google a, .register-box .btn.log-google a { color: #337ab7; background: #fff; border: 2px solid #337ab7; }

.login-box .btn.handle-log a, .register-box .btn.handle-log a { max-width: 345px; text-align: center; }

.login-box .log-or, .register-box .log-or { margin: 15px 0; text-align: center; color: #c6c8d0; }

@-webkit-keyframes autofill { to { color: #c6c8d0;
    background: transparent; } }

.login-box .main-log-in input:-webkit-autofill, .register-box .main-log-in input:-webkit-autofill { -webkit-animation-name: autofill; -webkit-animation-fill-mode: both; }

.login-box .main-log-in input::-webkit-input-placeholder, .register-box .main-log-in input::-webkit-input-placeholder { color: #c6c8d0; }

.login-box .main-log-in input::-moz-placeholder, .register-box .main-log-in input::-moz-placeholder { color: #c6c8d0; }

.login-box .main-log-in input:-ms-input-placeholder, .register-box .main-log-in input:-ms-input-placeholder { color: #c6c8d0; }

.login-box .main-log-in input:-moz-placeholder, .register-box .main-log-in input:-moz-placeholder { color: #c6c8d0; }

.login-box .main-log-in .txtInput, .register-box .main-log-in .txtInput { margin-bottom: 10px; font-size: 0; text-align: left; }

.login-box .main-log-in .txtInput input:-webkit-autofill, .register-box .main-log-in .txtInput input:-webkit-autofill { background-color: none !important; }

.login-box .main-log-in .txtInput .in, .register-box .main-log-in .txtInput .in { display: inline-block; width: 100%; padding: 7px 10px; color: #337ab7; outline: none; font-size: 16px; font-size: 1.6rem; background: none !important; vertical-align: middle; border: 2px solid #c6c8d0; }

.login-box .main-log-in .txtInput .in:focus, .register-box .main-log-in .txtInput .in:focus { border-color: #337ab7; }

.login-box .main-log-in .act, .register-box .main-log-in .act { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 20px; }

.login-box .main-log-in .act .remember, .login-box .main-log-in .act .agree, .register-box .main-log-in .act .remember, .register-box .main-log-in .act .agree { display: inline-block; }

.login-box .main-log-in .act .remember input[type='checkbox'], .login-box .main-log-in .act .agree input[type='checkbox'], .register-box .main-log-in .act .remember input[type='checkbox'], .register-box .main-log-in .act .agree input[type='checkbox'] { width: 0; height: 0; opacity: 0; }

.login-box .main-log-in .act .remember input[type='checkbox'] + label, .login-box .main-log-in .act .agree input[type='checkbox'] + label, .register-box .main-log-in .act .remember input[type='checkbox'] + label, .register-box .main-log-in .act .agree input[type='checkbox'] + label { position: relative; padding-left: 30px; cursor: pointer; }

.login-box .main-log-in .act .remember input[type='checkbox'] + label::before, .login-box .main-log-in .act .agree input[type='checkbox'] + label::before, .register-box .main-log-in .act .remember input[type='checkbox'] + label::before, .register-box .main-log-in .act .agree input[type='checkbox'] + label::before { position: absolute; top: 50%; left: 0; content: ''; width: 20px; height: 20px; border: 2px solid #c6c8d0; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background: none; -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

.login-box .main-log-in .act .remember input[type='checkbox'] + label::after, .login-box .main-log-in .act .agree input[type='checkbox'] + label::after, .register-box .main-log-in .act .remember input[type='checkbox'] + label::after, .register-box .main-log-in .act .agree input[type='checkbox'] + label::after { position: absolute; top: calc(50% - 3px); left: 6px; content: ''; width: 7px; height: 12px; border-right: 2px solid #fff; border-bottom: 2px solid #fff; opacity: 0; -moz-transform: translateY(-50%) rotate(45deg) skew(15deg); -o-transform: translateY(-50%) rotate(45deg) skew(15deg); -ms-transform: translateY(-50%) rotate(45deg) skew(15deg); -webkit-transform: translateY(-50%) rotate(45deg) skew(15deg); transform: translateY(-50%) rotate(45deg) skew(15deg); -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

.login-box .main-log-in .act .remember input[type='checkbox'] + label:hover, .login-box .main-log-in .act .agree input[type='checkbox'] + label:hover, .register-box .main-log-in .act .remember input[type='checkbox'] + label:hover, .register-box .main-log-in .act .agree input[type='checkbox'] + label:hover { color: #c6c8d0; }

.login-box .main-log-in .act .remember input[type='checkbox']:checked + label::before, .login-box .main-log-in .act .agree input[type='checkbox']:checked + label::before, .register-box .main-log-in .act .remember input[type='checkbox']:checked + label::before, .register-box .main-log-in .act .agree input[type='checkbox']:checked + label::before { background: #42c1c7; }

.login-box .main-log-in .act .remember input[type='checkbox']:checked + label::after, .login-box .main-log-in .act .agree input[type='checkbox']:checked + label::after, .register-box .main-log-in .act .remember input[type='checkbox']:checked + label::after, .register-box .main-log-in .act .agree input[type='checkbox']:checked + label::after { opacity: 1; }

.login-box .main-log-in .act .forgot, .register-box .main-log-in .act .forgot { display: inline-block; }

.login-box .main-log-in .act .forgot a, .register-box .main-log-in .act .forgot a { color: #42c1c7; }

.login-box .main-log-in .act .forgot a:hover, .register-box .main-log-in .act .forgot a:hover { color: #337ab7; }

.login-box .main-log-in .txt-privacy, .register-box .main-log-in .txt-privacy { margin-top: 10px; }

.login-box .new-here, .register-box .new-here { margin-top: 20px; }

.login-box .new-here a, .register-box .new-here a { display: inline-block; margin-left: 10px; color: #42c1c7; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

.login-box .new-here a:hover, .register-box .new-here a:hover { color: #337ab7; text-decoration: underline; }

.ui-widget button, .ui-widget input, .ui-widget select, .ui-widget textarea { font-family: 'GT-Eesti-Regular' !important; font-weight: 400; }

.ui-state-default .ui-state-default, .ui-widget-content .ui-state-default { color: #2b2b2b; background: rgba(0, 170, 113, 0.15); }

.ui-datepicker { font-family: 'GT-Eesti-Regular' !important; font-weight: 400; }

.ui-datepicker .ui-datepicker-next .ui-icon { background: none; }

.ui-datepicker .ui-datepicker-next span::after { content: '\f105'; position: absolute; top: 50%; left: 50%; font-family: FontAwesome; font-size: 24px; font-size: 2.4rem; line-height: 1; color: #337ab7; text-indent: 0; -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.ui-datepicker .ui-datepicker-prev .ui-icon { background: none; }

.ui-datepicker .ui-datepicker-prev span::after { content: '\f104'; position: absolute; top: 50%; left: 50%; font-family: FontAwesome; font-size: 24px; font-size: 2.4rem; line-height: 1; color: #337ab7; text-indent: 0; -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.ui-datepicker td { padding: 0; height: 34px; border: 1px solid #b7b7b7; }

.ui-datepicker td a { color: #2b2b2b; background: rgba(0, 170, 113, 0.15); }

.ui-datepicker .ui-state-active { color: #fff; background: #42c1c7; }

.ui-datepicker .ui-state-disabled span { color: rgba(43, 43, 43, 0.3); background: none; }
