@font-face {
  font-family: "Ubuntu-Bold";
  src: url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-B.eot");
  src: url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-B.eot?#iefix") format("embedded-opentype"), url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-B.woff") format("woff"), url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-B.ttf") format("truetype"), url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-B.svg#Ubuntu-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-M.eot");
  src: url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-M.eot?#iefix") format("embedded-opentype"), url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-M.woff") format("woff"), url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-M.ttf") format("truetype"), url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-M.svg#Ubuntu-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu-Light";
  src: url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-L.eot");
  src: url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-L.eot?#iefix") format("embedded-opentype"), url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-L.woff") format("woff"), url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-L.ttf") format("truetype"), url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-L.svg#Ubuntu-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu-Regular";
  src: url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-R.eot");
  src: url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-R.eot?#iefix") format("embedded-opentype"), url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-R.woff") format("woff"), url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-R.ttf") format("truetype"), url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-R.svg#Ubuntu-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GTEestiProDisplay-Medium";
  src: url("/Mekong-delta-tours/common/fonts/GTEestiProDisplay-Medium.eot");
  src: url("/Mekong-delta-tours/common/fonts/GTEestiProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("/Mekong-delta-tours/common/fonts/GTEestiProDisplay-Medium.woff") format("woff"), url("/Mekong-delta-tours/common/fonts/GTEestiProDisplay-Medium.ttf") format("truetype"), url("/Mekong-delta-tours/common/fonts/GTEestiProDisplay-Medium.svg#GTEestiProDisplay-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GTEestiProDisplay-Regular";
  src: url("/Mekong-delta-tours/common/fonts/GTEestiProDisplay-Regular.eot");
  src: url("/Mekong-delta-tours/common/fonts/GTEestiProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("/Mekong-delta-tours/common/fonts/GTEestiProDisplay-Regular.woff") format("woff"), url("/Mekong-delta-tours/common/fonts/GTEestiProDisplay-Regular.ttf") format("truetype"), url("/Mekong-delta-tours/common/fonts/GTEestiProDisplay-Regular.svg#GTEestiProDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GTEestiProDisplay-Bold";
  src: url("/Mekong-delta-tours/common/fonts/GTEestiProDisplay-Regular.eot");
  src: url("/Mekong-delta-tours/common/fonts/GTEestiProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("/Mekong-delta-tours/common/fonts/GTEestiProDisplay-Regular.woff") format("woff"), url("/Mekong-delta-tours/common/fonts/GTEestiProDisplay-Regular.ttf") format("truetype"), url("/Mekong-delta-tours/common/fonts/GTEestiProDisplay-Regular.svg#GTEestiProDisplay-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu-SemiBold";
  src: url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-SemiBold.eot");
  src: url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-SemiBold.woff") format("woff"), url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-SemiBold.ttf") format("truetype"), url("/Mekong-delta-tours/common/fonts/ubuntu-font/Ubuntu-SemiBold.svg#Ubuntu-SemiBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FontAwesome";
  src: url("/Mekong-delta-tours/common/fonts/FontAwesome/fontawesome-webfont.eot");
  src: url("/Mekong-delta-tours/common/fonts/FontAwesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("/Mekong-delta-tours/common/fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/Mekong-delta-tours/common/fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/Mekong-delta-tours/common/fonts/FontAwesome/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal; }

.top .section-top-deal {
  padding: 25px 0 20px;
  background: #f5f9fb; }
  .top .section-top-deal .content {
    padding: 0px 0px 40px 0; }
    .top .section-top-deal .content p {
      font-size: 16px;
      font-size: 1.6rem;
      font-family: 'Ubuntu-Regular';
      text-align: justify; }

.top .section-banner-text {
  padding: 15px 0;
  background: #f7f7f7; }
  .top .section-banner-text.bg01 {
    padding: 55px 0 40px;
    color: #d7ffdc;
    background: #025b61; }
  .top .section-banner-text.bg02 {
    padding: 42px 0 20px;
    background: url(/Mekong-delta-tours/common/images/share/bg_subscribe.jpg) no-repeat center center/cover; }
  .top .section-banner-text .text01 {
    margin-bottom: 5px;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.4;
    text-transform: uppercase;
    color: #333333;
    font-family: Ubuntu-Regular;
    font-weight: 400; }
  .top .section-banner-text .text02 {
    font-size: 2px;
    font-size: 0.2rem;
    line-height: 1.3;
    color: #42c1c7;
    text-transform: uppercase; }
  .top .section-banner-text .text03 {
    margin-bottom: 15px;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 2.4;
    color: #337ab7; }
  .top .section-banner-text .text04 {
    margin-bottom: 20px;
    font-size: 30px;
    font-size: 3rem;
    font-family: GTEestiProDisplay-Regular;
    font-weight: 400;
    line-height: 1.3; }
  .top .section-banner-text .text05 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.6; }
  .top .section-banner-text .text06 {
    margin-bottom: 20px;
    font-size: 22px;
    font-size: 2.2rem;
    font-family: Ubuntu-Bold;
    font-weight: 700;
    line-height: 1.3;
    color: #1070a9;
    text-transform: uppercase; }
  .top .section-banner-text .text07 {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.3;
    color: #3f3e41; }

.top .section-travel-deal {
  padding-top: 35px; }

.top .section-on-sale {
  padding: 0px 0 15px; }
  .top .section-on-sale .ttl-h2 {
    margin: 20px 0px 0px; }

.top .section-last-deal {
  padding: 15px 0 15px; }
  .top .section-last-deal .ttl-h2 {
    margin-bottom: 20px; }

.top .section-last-articles {
  padding: 20px 0 43px; }

.top .section-top-tour-destinations {
  padding: 45px 0; }
  .top .section-top-tour-destinations .wrap {
    padding: 0 20px; }
  .top .section-top-tour-destinations .ttl-h2 {
    margin-bottom: 25px;
    text-align: left; }
  .top .section-top-tour-destinations .text {
    margin-top: 40px;
    font-size: 15px;
    font-size: 1.5rem; }
    .top .section-top-tour-destinations .text a {
      color: #42c1c7;
      border-bottom: 1px solid transparent;
      -moz-transition: all 300ms;
      -o-transition: all 300ms;
      -webkit-transition: all 300ms;
      transition: all 300ms; }
      .top .section-top-tour-destinations .text a:hover {
        color: #3385d6;
        border-bottom-color: #3385d6; }

.top .country-box {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  .top .country-box::after {
    content: '';
    position: absolute;
    top: 100%;
    z-index: 2; }
  .top .country-box svg {
    position: absolute;
    top: 100%;
    z-index: 2;
    display: none; }
  .top .country-box.country-01 {
    margin-bottom: 15.21429%; }
    .top .country-box.country-01::after {
      left: 50.37975%;
      width: 10.88608%;
      padding-bottom: 17.46835%;
      background: url(/Mekong-delta-tours/common/images/top/bg_01.png) no-repeat center;
      background-size: contain;
      -moz-transform: translateY(27.53623%);
      -o-transform: translateY(27.53623%);
      -ms-transform: translateY(27.53623%);
      -webkit-transform: translateY(27.53623%);
      transform: translateY(27.53623%); }
    .top .country-box.country-01 svg {
      left: 50.37975%;
      width: 11.39241%;
      -moz-transform: translateY(57px);
      -o-transform: translateY(57px);
      -ms-transform: translateY(57px);
      -webkit-transform: translateY(57px);
      transform: translateY(57px); }
    .top .country-box.country-01 .country-box-all {
      background: #fc0; }
  .top .country-box.country-02 {
    margin-bottom: 15.07143%; }
    .top .country-box.country-02::after {
      left: 45.40084%;
      width: 9.45148%;
      padding-bottom: 17.8903%;
      background: url(/Mekong-delta-tours/common/images/top/bg_02.png) no-repeat center;
      background-size: contain;
      -moz-transform: translateY(21.22642%);
      -o-transform: translateY(21.22642%);
      -ms-transform: translateY(21.22642%);
      -webkit-transform: translateY(21.22642%);
      transform: translateY(21.22642%); }
    .top .country-box.country-02 svg {
      left: 45.40084%;
      width: 11.05485%;
      -moz-transform: translateY(45px);
      -o-transform: translateY(45px);
      -ms-transform: translateY(45px);
      -webkit-transform: translateY(45px);
      transform: translateY(45px); }
    .top .country-box.country-02 .country-box-all {
      background: #ffcbcb; }
  .top .country-box.country-03 {
    margin-bottom: 16.57143%; }
    .top .country-box.country-03::after {
      left: 45.82278%;
      width: 10.97046%;
      padding-bottom: 18.90295%;
      background: url(/common/images/top/bg_03.png) no-repeat center;
      background-size: contain;
      -moz-transform: translateY(16.96429%);
      -o-transform: translateY(16.96429%);
      -ms-transform: translateY(16.96429%);
      -webkit-transform: translateY(16.96429%);
      transform: translateY(16.96429%); }
    .top .country-box.country-03 svg {
      left: 45.82278%;
      width: 11.13924%;
      -moz-transform: translateY(45px);
      -o-transform: translateY(45px);
      -ms-transform: translateY(45px);
      -webkit-transform: translateY(45px);
      transform: translateY(45px); }
    .top .country-box.country-03 .country-box-all {
      background: #c3fcff; }
  .top .country-box .country-box-all {
    width: 100vw;
    margin: 0 calc(50% - 50vw) 30px;
    background: #ccc; }
    .top .country-box .country-box-all .thumb img {
      width: 100%; }
    .top .country-box .country-box-all .meta {
      padding: 25px 20px 40px;
      text-align: center;
      color: #337ab7; }
    .top .country-box .country-box-all .country-box-name {
      margin-bottom: 10px;
      font-size: 52px;
      font-size: 5.2rem;
      line-height: 1.1;
      font-family: Ubuntu-Medium;
      font-weight: 500; }
      .top .country-box .country-box-all .country-box-name a {
        color: #337ab7; }
    .top .country-box .country-box-all .country-box-description {
      font-size: 21px;
      font-size: 2.1rem;
      line-height: 1.3; }
  .top .country-box .country-box-tour {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: auto;
    -webkit-overflow: auto;
    -webkit-overflow-scrolling: auto; }
  .top .country-box .country-box-ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .top .country-box .country-box-ul .item {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: space-between;
      -moz-box-pack: space-between;
      -ms-flex-pack: space-between;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      width: 47.36842%;
      min-width: 270px;
      padding-bottom: 20px;
      margin-right: 30px; }
      .top .country-box .country-box-ul .item .thumb {
        margin-bottom: 8px;
        overflow: hidden; }
      .top .country-box .country-box-ul .item .item-title a {
        font-size: 18px;
        font-size: 1.8rem;
        font-family: 'Ubuntu-Medium';
        line-height: 1.5;
        color: #337ab7; }
      .top .country-box .country-box-ul .item .deal-star {
        font-size: 12px;
        font-size: 1.2rem; }
      .top .country-box .country-box-ul .item .item-entry-bottom {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: space-between;
        -moz-box-pack: space-between;
        -ms-flex-pack: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-box-align: flex-end;
        -moz-box-align: flex-end;
        -ms-flex-align: flex-end;
        -webkit-align-items: flex-end;
        align-items: flex-end; }
  .top .country-box .country-box-btn {
    margin-top: 30px;
    text-align: center; }

.top .table-box {
  padding: 0 15px;
  margin-bottom: 42px;
  color: #337ab7;
  line-height: 1.5; }
  .top .table-box .days,
  .top .table-box .price {
    text-align: center; }
  .top .table-box .only-sp {
    display: none; }
  .top .table-box .maps-thumb {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%; }
  .top .table-box .price .price-old {
    text-decoration: line-through; }
  .top .table-box .price .price-news {
    display: block;
    font-size: 25px;
    font-size: 2.5rem;
    color: #d0021b;
    font-family: Ubuntu-Medium;
    font-weight: 500; }
  .top .table-box .end-in {
    font-size: 18px;
    font-size: 1.8rem; }
  .top .table-box .time-end-in {
    color: #d0021b; }
  .top .table-box table {
    width: 100%;
    border-collapse: collapse; }
    .top .table-box table .cl01 {
      width: 41.5%; }
    .top .table-box table .cl02 {
      width: 14%; }
    .top .table-box table .cl03 {
      width: 30%;
      text-align: center; }
    .top .table-box table .cl04 {
      width: 14.5%; }
    .top .table-box table th,
    .top .table-box table td {
      padding: 5px 10px;
      font-family: Ubuntu-Regular;
      font-weight: 400; }
      .top .table-box table th:last-child,
      .top .table-box table td:last-child {
        padding: 5px 2px; }
    .top .table-box table thead {
      font-size: 22px;
      font-size: 2.2rem;
      text-align: left; }
      .top .table-box table thead th {
        padding: 7px;
        font-family: Ubuntu-Regular;
        font-weight: 400; }
    .top .table-box table tbody tr {
      border-top: 2px solid #e5e5e5; }
      .top .table-box table tbody tr:nth-child(2n-1) {
        background: #f4f4f4; }
    .top .table-box table tbody td {
      font-size: 20px;
      font-size: 2rem; }
  .top .table-box a {
    display: inline-block;
    line-height: 1.4;
    font-family: GT-Eesti-Light;
    font-weight: 300;
    color: #42c1c7;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms; }
    .top .table-box a:hover {
      text-decoration: underline; }

.top .list-last-articles .item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 10px 15px;
  border: 1px solid #bbb;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }
  .top .list-last-articles .item .thumb {
    overflow: hidden;
    width: 36%; }
  .top .list-last-articles .item .item-meta {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 60%; }
    .top .list-last-articles .item .item-meta .item-meta-top {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
    .top .list-last-articles .item .item-meta .item-meta-bottom {
      text-align: right; }
    .top .list-last-articles .item .item-meta .meta-01 {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: flex-start;
      -moz-box-pack: flex-start;
      -ms-flex-pack: flex-start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      line-height: 1.1;
      color: #aab2bd; }
      .top .list-last-articles .item .item-meta .meta-01 li {
        padding: 0 15px;
        border-left: 1px solid #aab2bd; }
        .top .list-last-articles .item .item-meta .meta-01 li:first-child {
          padding-left: 0;
          border-left: none; }
        .top .list-last-articles .item .item-meta .meta-01 li:last-child {
          padding-right: 0; }
      .top .list-last-articles .item .item-meta .meta-01 a {
        color: #42c1c7; }
    .top .list-last-articles .item .item-meta .meta-02 {
      margin: 5px 0;
      font-family: Ubuntu-Medium;
      font-weight: 500;
      font-size: 20px;
      font-size: 2rem;
      line-height: 1.4; }
      .top .list-last-articles .item .item-meta .meta-02 a {
        color: #3385d6; }
    .top .list-last-articles .item .item-meta .excerpt {
      margin-bottom: 5px;
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 1.6;
      color: #b3b8c1; }
    .top .list-last-articles .item .item-meta .read-more {
      display: inline-block;
      font-family: Ubuntu-Medium;
      font-weight: 500;
      color: #42c1c7;
      border-bottom: 1px solid transparent; }
      .top .list-last-articles .item .item-meta .read-more .fa {
        margin-left: 15px; }
      .top .list-last-articles .item .item-meta .read-more:hover {
        border-bottom-color: #42c1c7; }

.top .list-top-deals .item .item-title {
  font-family: Ubuntu-Medium;
  font-weight: 500; }
  .top .list-top-deals .item .item-title a {
    font-size: 16px;
    font-size: 1.6rem; }

.top .list-top-deals .item .item-meta {
  font-size: 15px;
  font-size: 1.5rem; }

.top .list-top-deals .item .deal-reviews {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: Ubuntu-Regular;
  font-weight: 400; }

.top .list-on-sale .item .item-thumb {
  width: 34%; }
  .top .list-on-sale .item .item-thumb img {
    height: 96px; }

.top .list-on-sale .item .item-entry {
  width: 65% !important; }
  .top .list-on-sale .item .item-entry .item-entry-top .item-title {
    font-family: Ubuntu-Medium;
    font-weight: 500; }
    .top .list-on-sale .item .item-entry .item-entry-top .item-title a {
      font-size: 18px;
      font-size: 1.8rem; }

.top .list-on-sale .item .sale-reviews {
  margin: 0 !important;
  color: #9e9e9e;
  font-size: 15px;
  font-size: 1.5rem; }

.top .list-on-sale .item .item-entry-col {
  width: 100%; }
  .top .list-on-sale .item .item-entry-col .old-price span {
    margin-right: 2%;
    color: #999; }

.top .list-on-sale .item .item-meta {
  font-size: 15px;
  font-size: 1.5rem; }

.top .list-on-sale .item .deal-reviews {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: Ubuntu-Regular;
  font-weight: 400; }

.top .list-top-tour .item {
  margin-bottom: 10px;
  background: #fff; }
  .top .list-top-tour .item .item-title {
    font-family: Ubuntu-Medium;
    font-weight: 500;
    line-height: 2; }
    .top .list-top-tour .item .item-title a {
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 1.5;
      color: #337ab7; }
  .top .list-top-tour .item .item-entry {
    padding: 5px 10px; }
    .top .list-top-tour .item .item-entry .item-entry-top {
      padding-bottom: 10px;
      border-bottom: 2px dotted #9e9e9e; }
      .top .list-top-tour .item .item-entry .item-entry-top .deal-star i {
        font-size: 14px;
        font-size: 1.4rem; }
      .top .list-top-tour .item .item-entry .item-entry-top .deal-reviews {
        font-family: GTEestiProDisplay-Regular;
        font-weight: 400; }
    .top .list-top-tour .item .item-entry .item-entry-bottom .item-entry-col {
      padding: 10px 0;
      border-bottom: 2px dotted #9e9e9e; }
      .top .list-top-tour .item .item-entry .item-entry-bottom .item-entry-col .content-tour {
        font-size: 16px;
        font-size: 1.6rem;
        font-family: Ubuntu-Regular;
        font-weight: 400;
        color: #337ab7; }
        .top .list-top-tour .item .item-entry .item-entry-bottom .item-entry-col .content-tour .title p a {
          font-size: 16px;
          font-size: 1.6rem;
          color: #337ab7; }
        .top .list-top-tour .item .item-entry .item-entry-bottom .item-entry-col .content-tour .price {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .top .list-top-tour .item .item-entry .item-entry-bottom .item-entry-col .content-tour .price .tour-day {
            width: 70%; }
            .top .list-top-tour .item .item-entry .item-entry-bottom .item-entry-col .content-tour .price .tour-day a {
              font-size: 16px;
              font-size: 1.6rem;
              color: #337ab7; }
          .top .list-top-tour .item .item-entry .item-entry-bottom .item-entry-col .content-tour .price .price-tour {
            text-align: right;
            width: 30%;
            color: #9e9e9e; }
            .top .list-top-tour .item .item-entry .item-entry-bottom .item-entry-col .content-tour .price .price-tour .gia-cu {
              text-decoration: line-through !important; }
            .top .list-top-tour .item .item-entry .item-entry-bottom .item-entry-col .content-tour .price .price-tour .gia-moi {
              color: #c1272d;
              font-family: Ubuntu-Medium;
              font-weight: 500; }

.top .list-top-tour .item-meta-01 .deal-star i {
  font-size: 14px;
  font-size: 1.4rem; }

.top .form-subscribe {
  margin-bottom: 10px; }
  .top .form-subscribe .form-group {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }
    .top .form-subscribe .form-group input {
      width: 40%;
      min-width: 200px; }
    .top .form-subscribe .form-group .form-control {
      padding: 9px 10px;
      text-align: center;
      border: none; }
  .top .form-subscribe .btn {
    width: 40px;
    text-align: center; }

.top .links-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  .top .links-wrap .link-cols {
    width: 48%; }
  .top .links-wrap .list-links .title {
    font-family: Ubuntu-Bold;
    font-weight: 700;
    padding-left: 0 !important; }
  .top .links-wrap .list-links li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 17px; }
    .top .links-wrap .list-links li:last-child {
      margin-bottom: 0; }
    .top .links-wrap .list-links li .fa {
      position: absolute;
      top: 4px;
      left: 0;
      font-size: 8px;
      font-size: 0.8rem; }
    .top .links-wrap .list-links li a {
      display: inline-block;
      font-size: 16px;
      font-size: 1.6rem;
      color: #333333;
      border-bottom: 1px solid transparent;
      -moz-transition: all 300ms;
      -o-transition: all 300ms;
      -webkit-transition: all 300ms;
      transition: all 300ms; }
      .top .links-wrap .list-links li a:hover {
        color: #42c1c7;
        border-bottom-color: #42c1c7; }

.top .pannel-top {
  padding: 20px 0 25px;
  border-bottom: 2px solid #b7b7b7; }

.top .list-pannel-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  .top .list-pannel-top .item {
    width: 24%; }
    .top .list-pannel-top .item a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 17px;
      font-size: 1.7rem;
      font-family: GT-Eesti-Light;
      font-weight: 300;
      color: #337ab7; }
      .top .list-pannel-top .item a.active {
        color: #42c1c7; }
        .top .list-pannel-top .item a.active .icon {
          border-color: #42c1c7; }
      .top .list-pannel-top .item a .icon {
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 42px;
        margin-top: 10px;
        text-align: center;
        font-size: 28px;
        font-size: 2.8rem;
        border: 4px solid #337ab7;
        border-radius: 100%; }

@media (max-width: 400px) {
  .top .table-box {
    padding: 0; }
  .top .list-last-articles .item .item-meta .meta-02 {
    font-size: 18px;
    font-size: 1.8rem; }
  .top .pannel-top {
    padding: 15px 0; }
  .top .list-pannel-top .item a {
    font-size: 14px;
    font-size: 1.4rem; }
    .top .list-pannel-top .item a .icon {
      width: 40px;
      height: 40px;
      line-height: 32px; } }
