@font-face {
  font-family: "GT-Eesti-Light";
  src: url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.eot");
  src: url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.woff") format("woff"), url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.ttf") format("truetype"), url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.svg#GT-Eesti-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GT-Eesti-Regular";
  src: url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.eot");
  src: url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.woff") format("woff"), url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.ttf") format("truetype"), url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.svg#GT-Eesti-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GT-Eesti-Medium";
  src: url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.eot");
  src: url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.woff") format("woff"), url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.ttf") format("truetype"), url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.svg#GT-Eesti-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GT-Eesti-Bold";
  src: url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.eot");
  src: url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.woff") format("woff"), url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.ttf") format("truetype"), url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.svg#GT-Eesti-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FontAwesome";
  src: url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.eot");
  src: url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "iz";
  src: url("/halong-cruises/common/fonts/iz/iz.eot");
  src: url("/halong-cruises/common/fonts/iz/iz.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/iz/iz.woff") format("woff"), url("/halong-cruises/common/fonts/iz/iz.ttf") format("truetype"), url("/halong-cruises/common/fonts/iz/iz.svg#iz") format("svg");
  font-weight: normal;
  font-style: normal; }

.btn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
  -moz-box-shadow: inset 1px -3px 5px -1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 1px -3px 5px -1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 1px -3px 5px -1px rgba(0, 0, 0, 0.25);
  background: #42c1c7; }

.mfp-content {
  vertical-align: top; }

.modal-box {
  position: relative;
  background: #fff;
  padding: 3% 3%;
  width: auto;
  max-width: 900px;
  min-height: 410px;
  margin: 20px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 16px;
  font-size: 1.6rem; }
  .modal-box .mfp-close {
    display: none; }
  .modal-box .modal-box-cont {
    padding: 2%;
    border: 1px solid #b7b7b7; }
  .modal-box .md-ttl {
    margin-bottom: 5px;
    width: 100%;
    font-size: 24px;
    font-size: 2.4rem;
    color: #42c1c7; }
  .modal-box .md-ttl-02 {
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px; }
    .modal-box .md-ttl-02 span {
      position: relative;
      display: inline-block;
      padding: 0 20px;
      font-size: 20px;
      font-size: 2rem;
      color: #42c1c7; }
      .modal-box .md-ttl-02 span::before, .modal-box .md-ttl-02 span::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 30vw;
        height: 1px;
        background: #ccc; }
      .modal-box .md-ttl-02 span::before {
        right: 100%; }
      .modal-box .md-ttl-02 span::after {
        left: 100%; }
  .modal-box .md-text p {
    margin-bottom: 15px; }
  .modal-box .slide-show-large {
    padding-bottom: 2%;
    text-align: center;
    border-bottom: 1px solid #b7b7b7; }
    .modal-box .slide-show-large img {
      width: 100%; }
  .modal-box .list-slide-show {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: flex-start;
    -moz-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 2%; }
    .modal-box .list-slide-show li {
      width: calc(calc(100% - 20px)/5);
      margin: 0 5px 5px 0;
      cursor: pointer;
      -moz-transition: all 300ms;
      -o-transition: all 300ms;
      -webkit-transition: all 300ms;
      transition: all 300ms; }
      .modal-box .list-slide-show li:nth-child(5n), .modal-box .list-slide-show li:last-child {
        margin-right: 0; }
      .modal-box .list-slide-show li:hover {
        opacity: 0.7; }
  .modal-box .md-list-01 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .modal-box .md-list-01 li {
      width: 48%; }

.product-detail {
  color: #1a2b49;
  overflow: hidden; }
  .product-detail .product .product-entry-header .product-title {
    margin-bottom: 8px;
    color: #1a2b49;
    font-family: GT-Eesti-Regular;
    font-weight: 400;
    font-size: 40px;
    font-size: 4rem;
    line-height: 1.2; }
  .product-detail .product .product-entry-header-meta {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: flex-start;
    -moz-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 20px; }
    .product-detail .product .product-entry-header-meta .deal-star {
      margin-right: 5%; }
    .product-detail .product .product-entry-header-meta .point {
      display: inline-block;
      margin-right: 12px;
      padding: 0 6px;
      color: #fff;
      font-size: 18px;
      font-size: 1.8rem;
      line-height: 1;
      background: #42c1c7; }
    .product-detail .product .product-entry-header-meta .review-text {
      color: #777; }
  .product-detail .product .product-entry-header .position {
    position: relative;
    padding-left: 18px;
    color: #777;
    font-size: 16px;
    font-size: 1.6rem; }
    .product-detail .product .product-entry-header .position .fa {
      position: absolute;
      top: 2px;
      left: 0; }
  .product-detail .product .product-entry-photos {
    position: relative;
    width: 100vw;
    margin-top: 20px;
    margin-left: calc(50% - 50vw); }
    .product-detail .product .product-entry-photos .btn-more-photo {
      position: absolute;
      top: 5.8296%;
      right: 3.24074%;
      z-index: 1;
      width: 31%;
      max-width: 130px;
      padding: 2% 1%;
      font-size: 14px;
      font-size: 1.4rem;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; }
      .product-detail .product .product-entry-photos .btn-more-photo .fa {
        margin: 0 6% 0 0; }
    .product-detail .product .product-entry-photos .list-photos .photo img {
      width: 100%; }
  .product-detail .product .product-entry-deltail {
    padding: 27px 0 60px;
    background: #f5f9fb; }
    .product-detail .product .product-entry-deltail .price-box {
      position: relative;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: space-between;
      -moz-box-pack: space-between;
      -ms-flex-pack: space-between;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      padding: 20px 6.2037%;
      font-size: 18px;
      font-size: 1.8rem;
      background: #fff;
      -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); }
      .product-detail .product .product-entry-deltail .price-box .thr {
        text-decoration: line-through; }
      .product-detail .product .product-entry-deltail .price-box .big {
        color: #d0021b;
        font-size: 28px;
        font-size: 2.8rem; }
      .product-detail .product .product-entry-deltail .price-box .sale {
        position: absolute;
        top: 0;
        right: 0;
        border: 20px solid transparent;
        border-top: 20px solid #d0021b;
        border-right: 20px solid #d0021b; }
        .product-detail .product .product-entry-deltail .price-box .sale span {
          position: absolute;
          top: -16px;
          left: -7px;
          color: #fff;
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
      .product-detail .product .product-entry-deltail .price-box .price-from {
        text-align: right; }
    .product-detail .product .product-entry-deltail .desc-box {
      margin-top: 2%;
      padding: 20px;
      -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
      background: #fff; }
      .product-detail .product .product-entry-deltail .desc-box ul li {
        position: relative;
        padding-left: 35px;
        margin-bottom: 5px;
        color: #1a2b49;
        font-size: 20px;
        font-size: 2rem; }
        .product-detail .product .product-entry-deltail .desc-box ul li i {
          position: absolute;
          top: 2px;
          left: 0;
          width: 25px;
          text-align: center;
          color: #42c1c7; }
    .product-detail .product .product-entry-deltail .booking-box {
      margin: 3% 15px 0;
      padding: 0 1.68776%; }
      .product-detail .product .product-entry-deltail .booking-box .gif-txt {
        color: #1a2b49;
        font-size: 18px;
        font-size: 1.8rem; }
        .product-detail .product .product-entry-deltail .booking-box .gif-txt i {
          color: #42c1c7;
          margin-right: 15px; }
      .product-detail .product .product-entry-deltail .booking-box .list-btns {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: space-between;
        -moz-box-pack: space-between;
        -ms-flex-pack: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin: 0 0 4%; }
        .product-detail .product .product-entry-deltail .booking-box .list-btns li {
          width: 48%;
          margin-top: 4%; }
          .product-detail .product .product-entry-deltail .booking-box .list-btns li.full {
            width: 100%; }
            .product-detail .product .product-entry-deltail .booking-box .list-btns li.full a {
              background: #42c1c7; }
          .product-detail .product .product-entry-deltail .booking-box .list-btns li a {
            display: block;
            width: 100%;
            height: 100%;
            color: #fff;
            padding: 8px 15px;
            text-align: center;
            background: #1a2b49;
            font-size: 24px;
            font-size: 2.4rem;
            line-height: 1.2;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            -moz-box-shadow: inset 1px -3px 5px -1px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: inset 1px -3px 5px -1px rgba(0, 0, 0, 0.25);
            box-shadow: inset 1px -3px 5px -1px rgba(0, 0, 0, 0.25); }
            .product-detail .product .product-entry-deltail .booking-box .list-btns li a span {
              display: block;
              font-size: 60%; }
      .product-detail .product .product-entry-deltail .booking-box .list-explains li {
        position: relative;
        padding-left: 40px;
        font-size: 20px;
        font-size: 2rem;
        line-height: 1.88; }
        .product-detail .product .product-entry-deltail .booking-box .list-explains li i {
          position: absolute;
          top: 8px;
          left: 0;
          width: 30px;
          font-size: 20px;
          font-size: 2rem;
          text-align: center;
          color: #42c1c7; }
        .product-detail .product .product-entry-deltail .booking-box .list-explains li:nth-child(1) i {
          top: 2px;
          font-size: 30px;
          font-size: 3rem; }
    .product-detail .product .product-entry-deltail .overview {
      margin-top: 3%;
      padding: 3% 0 0;
      background: #fff; }
      .product-detail .product .product-entry-deltail .overview h2 {
        margin-bottom: 1%;
        font-size: 30px;
        font-size: 3rem;
        line-height: 1; }
      .product-detail .product .product-entry-deltail .overview .txt {
        position: relative;
        font-size: 18px;
        font-size: 1.8rem; }
        .product-detail .product .product-entry-deltail .overview .txt .txt-p {
          display: block;
          display: -webkit-box;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis; }
          .product-detail .product .product-entry-deltail .overview .txt .txt-p.show_text {
            display: block;
            overflow: visible; }
        .product-detail .product .product-entry-deltail .overview .txt .txt-show-more {
          position: relative;
          display: inline-block;
          width: 30px;
          height: 30px; }
          .product-detail .product .product-entry-deltail .overview .txt .txt-show-more::after {
            position: absolute;
            top: calc(100% - 18px);
            left: 50%;
            content: '';
            width: 15px;
            height: 15px;
            border-right: 3px solid #1a2b49;
            border-bottom: 3px solid #1a2b49;
            -moz-transform: translateX(-50%) rotate(45deg);
            -o-transform: translateX(-50%) rotate(45deg);
            -ms-transform: translateX(-50%) rotate(45deg);
            -webkit-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
            -moz-transition: all 300ms ease-out;
            -o-transition: all 300ms ease-out;
            -webkit-transition: all 300ms ease-out;
            transition: all 300ms ease-out; }
          .product-detail .product .product-entry-deltail .overview .txt .txt-show-more.show_less::after {
            -moz-transform: translateX(-50%) rotate(-135deg);
            -o-transform: translateX(-50%) rotate(-135deg);
            -ms-transform: translateX(-50%) rotate(-135deg);
            -webkit-transform: translateX(-50%) rotate(-135deg);
            transform: translateX(-50%) rotate(-135deg); }
      .product-detail .product .product-entry-deltail .overview .map {
        position: relative;
        width: 100vw;
        padding-bottom: 67.31481%;
        margin-left: calc(50% - 50vw);
        margin-top: 4%; }
        .product-detail .product .product-entry-deltail .overview .map iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
        .product-detail .product .product-entry-deltail .overview .map .btn-view-full {
          position: absolute;
          left: 50%;
          bottom: 4%;
          -moz-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          left: 50%; }
          .product-detail .product .product-entry-deltail .overview .map .btn-view-full a {
            display: inline-block;
            padding: 0 5px;
            color: #1a2b49;
            font-size: 18px;
            font-size: 1.8rem;
            border: 1px solid #1a2b49;
            background: #fff; }
    .product-detail .product .product-entry-deltail .highlights {
      padding: 4% 0 2%;
      background: #fff; }
      .product-detail .product .product-entry-deltail .highlights h3 {
        margin-bottom: 1%;
        font-size: 30px;
        font-size: 3rem;
        line-height: 1; }
      .product-detail .product .product-entry-deltail .highlights .list-highlights li {
        position: relative;
        padding-left: 35px;
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 1.8; }
        .product-detail .product .product-entry-deltail .highlights .list-highlights li::before {
          position: absolute;
          top: -2px;
          left: 0;
          content: "\f00c";
          font-family: "FontAwesome";
          color: #42c1c7; }
    .product-detail .product .product-entry-deltail .service-hotel {
      margin-top: 10px;
      padding-top: 10px;
      background: #fff; }
      .product-detail .product .product-entry-deltail .service-hotel .search-box {
        position: relative;
        background: #1a2b49;
        padding: 0; }
        .product-detail .product .product-entry-deltail .service-hotel .search-box .select-calendar::before {
          left: 1rem; }
        .product-detail .product .product-entry-deltail .service-hotel .search-box .select-passenger::before {
          left: 1rem; }
        .product-detail .product .product-entry-deltail .service-hotel .search-box .form-booking-text01 {
          padding: 15px 4%;
          font-size: 22px;
          font-size: 2.2rem;
          border-bottom: 2px solid #fff; }
        .product-detail .product .product-entry-deltail .service-hotel .search-box .form-box .form-row {
          display: block;
          padding: 15px 4%; }
        .product-detail .product .product-entry-deltail .service-hotel .search-box .form-box .form-group {
          position: relative;
          width: 100% !important;
          margin-bottom: 10px; }
          .product-detail .product .product-entry-deltail .service-hotel .search-box .form-box .form-group.show {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10001;
            width: 100%;
            padding: 10px;
            background: #1a2b49; }
            .product-detail .product .product-entry-deltail .service-hotel .search-box .form-box .form-group.show::before {
              top: 30px;
              left: 20px; }
            .product-detail .product .product-entry-deltail .service-hotel .search-box .form-box .form-group.show::after {
              top: 30px;
              right: 20px; }
            .product-detail .product .product-entry-deltail .service-hotel .search-box .form-box .form-group.show .input-dropdown {
              top: 100%;
              padding: 10px 20px; }
              .product-detail .product .product-entry-deltail .service-hotel .search-box .form-box .form-group.show .input-dropdown::before {
                display: none; }
            .product-detail .product .product-entry-deltail .service-hotel .search-box .form-box .form-group.show .input-dropdown-mask {
              position: absolute;
              top: 100%;
              z-index: -1;
              width: 100vw;
              height: 100vh;
              background: #fff;
              -moz-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
          .product-detail .product .product-entry-deltail .service-hotel .search-box .form-box .form-group .form-control {
            padding: 10px 5%;
            text-align: center;
            font-size: 20px;
            font-size: 2rem; }
            .product-detail .product .product-entry-deltail .service-hotel .search-box .form-box .form-group .form-control.rdu {
              -moz-border-radius: 10px;
              -webkit-border-radius: 10px;
              border-radius: 10px; }
            .product-detail .product .product-entry-deltail .service-hotel .search-box .form-box .form-group .form-control.btn {
              color: #fff;
              background: #42c1c7; }
          .product-detail .product .product-entry-deltail .service-hotel .search-box .form-box .form-group .input-dropdown {
            top: calc(100% + 5px); }
            .product-detail .product .product-entry-deltail .service-hotel .search-box .form-box .form-group .input-dropdown .input-dropdown-name {
              font-size: 18px;
              font-size: 1.8rem; }
      .product-detail .product .product-entry-deltail .service-hotel .rs-search {
        position: relative;
        border: 1px solid #b7b7b7; }
        .product-detail .product .product-entry-deltail .service-hotel .rs-search #loader {
          z-index: 1;
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 1;
          display: none;
          margin: 0 auto;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.8) url(../../images/share/ajax-loading-gif.gif) no-repeat center 30%;
          background-size: auto;
          -moz-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
        .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel {
          padding: 20px 3% 10px;
          font-size: 18px;
          font-size: 1.8rem;
          color: #1a2b49; }
          .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel h4 {
            font-size: 20px;
            font-size: 2rem; }
          .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .modal-box {
            display: none; }
          .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .fa {
            color: #42c1c7; }
          .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .info-text {
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid #b7b7b7; }
          .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .info-room {
            margin-top: 10px; }
            .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .info-room .info-room-show-more {
              color: #1a2b49;
              text-decoration: underline; }
            .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .info-room p .option-type-item {
              position: relative;
              display: inline-block;
              padding-left: 28px;
              line-height: 1.8; }
              .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .info-room p .option-type-item i {
                position: absolute;
                top: 6px;
                left: 0;
                color: #42c1c7; }
            .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .info-room p:nth-child(1) .option-type-item {
              margin-right: 30px; }
          .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .cancellation {
            margin-top: 5%; }
            .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .cancellation .lb i {
              color: #42c1c7; }
            .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .cancellation ul li {
              position: relative;
              padding-left: 28px;
              line-height: 1.8; }
              .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .cancellation ul li::before {
                position: absolute;
                top: -2px;
                left: 0;
                content: "\f00c";
                font-family: "FontAwesome";
                color: #42c1c7; }
            .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .cancellation .link a {
              color: #42c1c7;
              text-decoration: underline; }
          .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .info-book {
            margin-top: 5%;
            padding-top: 3%;
            border-top: 1px solid #b7b7b7; }
            .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .info-book .price-lb {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              -webkit-box-pack: justify;
              -ms-flex-pack: justify;
              justify-content: space-between; }
              .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .info-book .price-lb .lb {
                display: inline-block; }
              .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .info-book .price-lb .price {
                display: inline-block;
                font-size: 14px;
                font-size: 1.4rem; }
                .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .info-book .price-lb .price span {
                  color: #d0021b;
                  font-size: 22px;
                  font-size: 2.2rem; }
            .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .info-book .btn-book {
              margin-top: 3%;
              text-align: center; }
              .product-detail .product .product-entry-deltail .service-hotel .rs-search .info-hotel .info-book .btn-book .btn i {
                margin-right: 5px; }
      .product-detail .product .product-entry-deltail .service-hotel .services {
        margin-top: 4%;
        padding-bottom: 10px; }
        .product-detail .product .product-entry-deltail .service-hotel .services .service-box {
          padding-left: 30px;
          margin-bottom: 5%;
          font-size: 18px;
          font-size: 1.8rem; }
          .product-detail .product .product-entry-deltail .service-hotel .services .service-box:last-child {
            margin-bottom: 0; }
          .product-detail .product .product-entry-deltail .service-hotel .services .service-box h4 {
            position: relative;
            margin-bottom: 5px;
            color: #1a2b49;
            font-size: 22px;
            font-size: 2.2rem;
            font-weight: normal; }
            .product-detail .product .product-entry-deltail .service-hotel .services .service-box h4 img {
              position: absolute;
              top: 50%;
              left: -30px;
              width: 25px;
              -moz-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
          .product-detail .product .product-entry-deltail .service-hotel .services .service-box ul li {
            list-style-type: disc;
            line-height: 1.5; }
        .product-detail .product .product-entry-deltail .service-hotel .services .services-readmore .services-more-btn {
          padding: 0 20px; }
          .product-detail .product .product-entry-deltail .service-hotel .services .services-readmore .services-more-btn a {
            font-size: 20px;
            font-size: 2rem;
            color: #42c1c7;
            text-decoration: underline; }
            .product-detail .product .product-entry-deltail .service-hotel .services .services-readmore .services-more-btn a .fa {
              margin-left: 10px;
              color: #1a2b49; }
        .product-detail .product .product-entry-deltail .service-hotel .services .services-more-content {
          display: none; }
    .product-detail .product .product-entry-deltail .schedule {
      margin-top: 10px;
      padding: 3% 0 5%;
      background: #fff; }
      .product-detail .product .product-entry-deltail .schedule h2 {
        font-size: 24px;
        font-size: 2.4rem;
        font-weight: normal; }
      .product-detail .product .product-entry-deltail .schedule dl {
        margin-top: 10px;
        border: 1px solid #b7b7b7; }
        .product-detail .product .product-entry-deltail .schedule dl dt {
          position: relative;
          padding: 5px 3%;
          font-size: 20px;
          font-size: 2rem;
          background: #f7f7f7;
          border-bottom: 1px solid #b7b7b7; }
          .product-detail .product .product-entry-deltail .schedule dl dt .sch-date {
            display: inline-block;
            width: 86%; }
          .product-detail .product .product-entry-deltail .schedule dl dt i {
            position: absolute;
            top: 50%;
            right: 10%;
            color: #42c1c7;
            font-size: 25px;
            font-size: 2.5rem;
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
          .product-detail .product .product-entry-deltail .schedule dl dt::after {
            position: absolute;
            top: 50%;
            right: 3%;
            content: "\f055";
            font-family: "FontAwesome";
            font-size: 25px;
            font-size: 2.5rem;
            color: #000;
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
          .product-detail .product .product-entry-deltail .schedule dl dt.open::after {
            content: "\f056"; }
        .product-detail .product .product-entry-deltail .schedule dl dd {
          display: none;
          padding: 4% 3%;
          font-size: 18px;
          font-size: 1.8rem; }
          .product-detail .product .product-entry-deltail .schedule dl dd p {
            margin-bottom: 4%; }
            .product-detail .product .product-entry-deltail .schedule dl dd p:last-child {
              margin-bottom: 0; }
      .product-detail .product .product-entry-deltail .schedule .cont-btn {
        margin-top: 8%;
        text-align: center; }
        .product-detail .product .product-entry-deltail .schedule .cont-btn .btn i {
          margin-left: 5px; }
    .product-detail .product .product-entry-deltail .facility {
      padding-top: 3%;
      background: #fff; }
      .product-detail .product .product-entry-deltail .facility h2 {
        margin-bottom: 1%;
        font-size: 30px;
        font-size: 3rem;
        line-height: 1; }
      .product-detail .product .product-entry-deltail .facility .sub {
        margin-bottom: 1%;
        font-size: 20px;
        font-size: 2rem; }
      .product-detail .product .product-entry-deltail .facility .list-check {
        padding: 0 0 1% 1%;
        margin-bottom: 2%;
        border-bottom: 1px solid #b7b7b7; }
      .product-detail .product .product-entry-deltail .facility .house-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-bottom: 2%;
        margin-bottom: 1%;
        border-bottom: 1px solid #b7b7b7; }
        .product-detail .product .product-entry-deltail .facility .house-box .time-check {
          position: relative;
          padding-left: 30px;
          width: 40%;
          font-size: 18px;
          font-size: 1.8rem; }
          .product-detail .product .product-entry-deltail .facility .house-box .time-check .fa {
            position: absolute;
            top: 0;
            left: 0;
            color: #42c1c7; }
          .product-detail .product .product-entry-deltail .facility .house-box .time-check span {
            display: block; }
      .product-detail .product .product-entry-deltail .facility .dl-box {
        margin-bottom: 2%;
        padding-bottom: 2%; }
        .product-detail .product .product-entry-deltail .facility .dl-box dl {
          padding-top: 1%;
          margin-bottom: 1%; }
          .product-detail .product .product-entry-deltail .facility .dl-box dl dt {
            position: relative;
            padding-left: 30px;
            margin-bottom: 1%;
            font-size: 20px;
            font-size: 2rem; }
            .product-detail .product .product-entry-deltail .facility .dl-box dl dt::before {
              content: '';
              position: absolute;
              top: 3px;
              left: 0;
              width: 20px;
              height: 20px; }
            .product-detail .product .product-entry-deltail .facility .dl-box dl dt.cancel::before {
              background: url(../../images/product/detail/icon05.png) no-repeat center;
              background-size: contain; }
            .product-detail .product .product-entry-deltail .facility .dl-box dl dt.policy::before {
              background: url(../../images/product/detail/icon06.png) no-repeat center;
              background-size: contain; }
          .product-detail .product .product-entry-deltail .facility .dl-box dl dd {
            padding-left: 10px; }
            .product-detail .product .product-entry-deltail .facility .dl-box dl dd .list-dot li {
              font-size: 18px;
              font-size: 1.8rem; }
    .product-detail .product .product-entry-deltail .important-notes {
      padding: 2% 0;
      margin-bottom: 2%;
      font-size: 18px;
      font-size: 1.8rem;
      background: #fff; }
      .product-detail .product .product-entry-deltail .important-notes h2 {
        margin-bottom: 2%;
        font-size: 30px;
        font-size: 3rem;
        color: #42c1c7; }
    .product-detail .product .product-entry-deltail .qa {
      padding: 3% 0;
      background: #fff; }
      .product-detail .product .product-entry-deltail .qa h2 {
        margin-bottom: 2%;
        font-size: 30px;
        font-size: 3rem; }
      .product-detail .product .product-entry-deltail .qa .form-control {
        width: 100%;
        font-size: 18px;
        font-size: 1.8rem; }
      .product-detail .product .product-entry-deltail .qa .btn-sp {
        font-size: 18px;
        font-size: 1.8rem; }
      .product-detail .product .product-entry-deltail .qa .popup-question {
        display: none; }
        .product-detail .product .product-entry-deltail .qa .popup-question.show {
          display: block; }
        .product-detail .product .product-entry-deltail .qa .popup-question .mask {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 9;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5); }
        .product-detail .product .product-entry-deltail .qa .popup-question .form-popup-question {
          position: fixed;
          top: 50%;
          left: 50%;
          z-index: 10;
          display: none;
          width: 100%;
          padding: 4%;
          background: #fff;
          -moz-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
          .product-detail .product .product-entry-deltail .qa .popup-question .form-popup-question .text-ttl {
            margin-bottom: 3%;
            text-align: center;
            font-size: 20px;
            font-size: 2rem; }
            .product-detail .product .product-entry-deltail .qa .popup-question .form-popup-question .text-ttl .fa {
              margin-right: 5px;
              color: #42c1c7; }
          .product-detail .product .product-entry-deltail .qa .popup-question .form-popup-question .form-row {
            margin-bottom: 2%; }
          .product-detail .product .product-entry-deltail .qa .popup-question .form-popup-question .btn-sp {
            color: #fff;
            background: #1a2b49; }
      .product-detail .product .product-entry-deltail .qa .sex-switch {
        position: relative;
        display: inline-block;
        width: 120px; }
        .product-detail .product .product-entry-deltail .qa .sex-switch input[type="checkbox"] {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0; }
          .product-detail .product .product-entry-deltail .qa .sex-switch input[type="checkbox"]:checked ~ label .can-toggle__switch::before {
            content: attr(data-checked);
            left: 0; }
          .product-detail .product .product-entry-deltail .qa .sex-switch input[type="checkbox"]:checked ~ label .can-toggle__switch::after {
            -webkit-transform: translate3d(78px, 0, 0);
            transform: translate3d(78px, 0, 0); }
        .product-detail .product .product-entry-deltail .qa .sex-switch label {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .product-detail .product .product-entry-deltail .qa .sex-switch label .can-toggle__switch {
            height: 40px;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            border-radius: 30px;
            -webkit-transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
            -o-transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
            transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
            background: #42c1c7; }
            .product-detail .product .product-entry-deltail .qa .sex-switch label .can-toggle__switch::before {
              content: attr(data-unchecked);
              position: absolute;
              top: 0;
              text-align: center;
              left: 60px;
              font-size: 13px;
              font-size: 1.3rem;
              line-height: 40px;
              width: 60px;
              padding: 0 12px;
              color: #fff; }
            .product-detail .product .product-entry-deltail .qa .sex-switch label .can-toggle__switch::after {
              content: '';
              position: absolute;
              z-index: 5;
              text-transform: uppercase;
              text-align: center;
              background: white;
              -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
              top: 2px;
              left: 2px;
              border-radius: 30px;
              width: 38px;
              height: 36px;
              line-height: 36px;
              transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
              -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
              -o-transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
              transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
              transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1); }
      .product-detail .product .product-entry-deltail .qa .comment-list {
        margin-top: 3%;
        font-size: 18px;
        font-size: 1.8rem; }
        .product-detail .product .product-entry-deltail .qa .comment-list .comment-list-ul {
          border-bottom: 1px solid #b7b7b7; }
          .product-detail .product .product-entry-deltail .qa .comment-list .comment-list-ul > li .ques {
            padding-left: 20px;
            margin-bottom: 3%;
            line-height: 1.5; }
            .product-detail .product .product-entry-deltail .qa .comment-list .comment-list-ul > li .ques .fa {
              position: absolute;
              top: 3px;
              left: -20px;
              font-size: 18px;
              font-size: 1.8rem;
              color: #42c1c7; }
            .product-detail .product .product-entry-deltail .qa .comment-list .comment-list-ul > li .ques .ques-time {
              position: relative;
              margin-bottom: 5px; }
            .product-detail .product .product-entry-deltail .qa .comment-list .comment-list-ul > li .ques .ans {
              padding: 2% 2% 2% 25px;
              margin: 10px 0 0 -15px;
              border: 1px solid #42c1c7; }
              .product-detail .product .product-entry-deltail .qa .comment-list .comment-list-ul > li .ques .ans .fa {
                left: -20px; }
              .product-detail .product .product-entry-deltail .qa .comment-list .comment-list-ul > li .ques .ans .ans-time {
                position: relative;
                margin-bottom: 5px; }
      .product-detail .product .product-entry-deltail .qa .list-page {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        margin-top: 6%; }
        .product-detail .product .product-entry-deltail .qa .list-page > li {
          margin-left: 2%; }
          .product-detail .product .product-entry-deltail .qa .list-page > li:first-child {
            margin-left: 0; }
          .product-detail .product .product-entry-deltail .qa .list-page > li > span,
          .product-detail .product .product-entry-deltail .qa .list-page > li a {
            display: block;
            padding: 8px 14px 7px 12px;
            border: 1px solid #b7b7b7;
            cursor: pointer;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }
            .product-detail .product .product-entry-deltail .qa .list-page > li > span.active, .product-detail .product .product-entry-deltail .qa .list-page > li > span:hover,
            .product-detail .product .product-entry-deltail .qa .list-page > li a.active,
            .product-detail .product .product-entry-deltail .qa .list-page > li a:hover {
              color: #fff;
              background: #42c1c7;
              border: 1px solid #42c1c7; }
    .product-detail .product .product-entry-deltail .customer-reviews {
      background: #fff;
      padding: 3% 0; }
      .product-detail .product .product-entry-deltail .customer-reviews h2 {
        margin-bottom: 2%;
        font-size: 30px;
        font-size: 3rem; }
      .product-detail .product .product-entry-deltail .customer-reviews .bigbox {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: flex-start;
        -moz-box-align: flex-start;
        -ms-flex-align: flex-start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-box-pack: space-between;
        -moz-box-pack: space-between;
        -ms-flex-pack: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding: 3%;
        background: #f7f7f7; }
        .product-detail .product .product-entry-deltail .customer-reviews .bigbox .reviewbox {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
          -webkit-box-pack: center;
          -moz-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          width: 190px;
          height: 190px;
          text-align: center;
          border: 2px solid #42c1c7;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          border-radius: 10px; }
          .product-detail .product .product-entry-deltail .customer-reviews .bigbox .reviewbox b {
            font-size: 20px;
            font-size: 2rem; }
          .product-detail .product .product-entry-deltail .customer-reviews .bigbox .reviewbox .num {
            font-family: GT-Eesti-Bold;
            font-weight: 700;
            font-size: 35px;
            font-size: 3.5rem;
            color: #42c1c7; }
          .product-detail .product .product-entry-deltail .customer-reviews .bigbox .reviewbox span {
            font-size: 16px;
            font-size: 1.6rem; }
        .product-detail .product .product-entry-deltail .customer-reviews .bigbox .rvsumm {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-align: flex-start;
          -moz-box-align: flex-start;
          -ms-flex-align: flex-start;
          -webkit-align-items: flex-start;
          align-items: flex-start;
          -webkit-box-pack: space-between;
          -moz-box-pack: space-between;
          -ms-flex-pack: space-between;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          width: calc(100% - 210px);
          font-size: 18px;
          font-size: 1.8rem; }
          .product-detail .product .product-entry-deltail .customer-reviews .bigbox .rvsumm .rvsumm-txt {
            width: 100%;
            margin-bottom: 4%;
            font-family: GT-Eesti-Medium;
            font-weight: 500;
            text-transform: uppercase; }
          .product-detail .product .product-entry-deltail .customer-reviews .bigbox .rvsumm .list-rvsumm {
            width: 100%;
            font-size: 16px;
            font-size: 1.6rem; }
            .product-detail .product .product-entry-deltail .customer-reviews .bigbox .rvsumm .list-rvsumm li {
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              -webkit-box-align: center;
              -moz-box-align: center;
              -ms-flex-align: center;
              -webkit-align-items: center;
              align-items: center;
              -webkit-box-pack: space-between;
              -moz-box-pack: space-between;
              -ms-flex-pack: space-between;
              -webkit-justify-content: space-between;
              justify-content: space-between;
              margin-bottom: 3%; }
              .product-detail .product .product-entry-deltail .customer-reviews .bigbox .rvsumm .list-rvsumm li .name {
                width: 31.57895%;
                line-height: 1.2; }
              .product-detail .product .product-entry-deltail .customer-reviews .bigbox .rvsumm .list-rvsumm li .skills {
                position: relative;
                width: 52.63158%;
                height: 6px;
                background: #b7b7b7; }
                .product-detail .product .product-entry-deltail .customer-reviews .bigbox .rvsumm .list-rvsumm li .skills span {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 4%;
                  height: 100%;
                  background: #42c1c7;
                  -moz-transition: all 300ms;
                  -o-transition: all 300ms;
                  -webkit-transition: all 300ms;
                  transition: all 300ms; }
      .product-detail .product .product-entry-deltail .customer-reviews .rvclient {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: flex-start;
        -moz-box-align: flex-start;
        -ms-flex-align: flex-start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-box-pack: space-between;
        -moz-box-pack: space-between;
        -ms-flex-pack: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding: 25px 0 20px;
        font-size: 18px;
        font-size: 1.8rem;
        border-bottom: 1px solid #b7b7b7; }
        .product-detail .product .product-entry-deltail .customer-reviews .rvclient .rate-score-left {
          width: 30%;
          font-size: 16px;
          font-size: 1.6rem;
          line-height: 1.5; }
        .product-detail .product .product-entry-deltail .customer-reviews .rvclient .ratecomment {
          width: 68%; }
          .product-detail .product .product-entry-deltail .customer-reviews .rvclient .ratecomment .titcomment {
            display: block;
            margin-bottom: 5px;
            font-family: GT-Eesti-Medium;
            font-weight: 500;
            color: #42c1c7; }
          .product-detail .product .product-entry-deltail .customer-reviews .rvclient .ratecomment p {
            line-height: 1.7; }
        .product-detail .product .product-entry-deltail .customer-reviews .rvclient .rateboxscore {
          margin-bottom: 5px; }
          .product-detail .product .product-entry-deltail .customer-reviews .rvclient .rateboxscore span {
            display: inline-block;
            padding: 5px 10px 4px;
            color: #fff;
            font-family: GT-Eesti-Medium;
            font-weight: 500;
            font-size: 30px;
            font-size: 3rem;
            background: #42c1c7;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px; }
        .product-detail .product .product-entry-deltail .customer-reviews .rvclient .addandtime {
          color: #777; }
      .product-detail .product .product-entry-deltail .customer-reviews .showmore {
        margin-top: 3%;
        text-align: center; }
    .product-detail .product .product-entry-deltail .might-box {
      padding: 3% 0;
      background: #fff; }
      .product-detail .product .product-entry-deltail .might-box h2 {
        font-size: 20px;
        font-size: 2rem;
        margin-bottom: 3%;
        text-align: center; }
  @media (max-width: 480px) {
    .product-detail .product .product-entry-deltail .customer-reviews .bigbox .reviewbox {
      width: 100px;
      height: 120px; }
    .product-detail .product .product-entry-deltail .customer-reviews .bigbox .rvsumm {
      width: calc(100% - 110px); }
      .product-detail .product .product-entry-deltail .customer-reviews .bigbox .rvsumm .list-rvsumm li .name {
        width: 72px; }
      .product-detail .product .product-entry-deltail .customer-reviews .bigbox .rvsumm .list-rvsumm li .skills {
        width: calc(100% - 90px); } }

.product-detail-hotel .product .product-entry-deltail .list-check li {
  font-size: 18px;
  font-size: 1.8rem; }

.product-detail-hotel .product .product-entry-deltail .number-box .number-btn {
  border: 1px solid #b7b7b7;
  color: #1a2b49; }

.product-detail-hotel .product .product-entry-deltail .number-box input {
  width: 90px !important;
  border-color: #b7b7b7; }

.product-detail-hotel .product .product-entry-deltail .booking-box .list-btns li {
  width: 100%; }
  .product-detail-hotel .product .product-entry-deltail .booking-box .list-btns li .bg-01 {
    background: #42c1c7; }

.product-detail-hotel .product .product-entry-deltail .service-hotel .rs-search .info-hotel .info-book .quantity-lb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
