@font-face {
  font-family: "GT-Eesti-Light";
  src: url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.eot");
  src: url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.woff") format("woff"), url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.ttf") format("truetype"), url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.svg#GT-Eesti-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GT-Eesti-Regular";
  src: url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.eot");
  src: url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.woff") format("woff"), url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.ttf") format("truetype"), url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.svg#GT-Eesti-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GT-Eesti-Medium";
  src: url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.eot");
  src: url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.woff") format("woff"), url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.ttf") format("truetype"), url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.svg#GT-Eesti-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GT-Eesti-Bold";
  src: url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.eot");
  src: url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.woff") format("woff"), url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.ttf") format("truetype"), url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.svg#GT-Eesti-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FontAwesome";
  src: url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.eot");
  src: url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "iz";
  src: url("/halong-cruises/common/fonts/iz/iz.eot");
  src: url("/halong-cruises/common/fonts/iz/iz.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/iz/iz.woff") format("woff"), url("/halong-cruises/common/fonts/iz/iz.ttf") format("truetype"), url("/halong-cruises/common/fonts/iz/iz.svg#iz") format("svg");
  font-weight: normal;
  font-style: normal; }

.none-search {
  padding-top: 80px; }
  .none-search .search-global {
    display: none; }
  @media (max-width: 480px) {
    .none-search {
      padding-top: 65px; } }

.checkout {
  color: #1a2b49; }
  .checkout .wrap {
    width: 92.22222%; }
  .checkout .link-color {
    font-size: 20px;
    font-size: 2rem;
    text-decoration: underline;
    color: #42c1c7; }
  .checkout .block-infomation {
    margin-top: 30px;
    padding-bottom: 25px; }
    .checkout .block-infomation .form-group .form-stt {
      margin-bottom: 25px;
      font-size: 25px;
      font-size: 2.5rem;
      text-align: center; }
      .checkout .block-infomation .form-group .form-stt p {
        position: relative;
        display: inline-block;
        padding-left: 48px;
        text-align: left; }
        .checkout .block-infomation .form-group .form-stt p span {
          position: absolute;
          top: 0;
          left: 0;
          width: 32px;
          height: 32px;
          line-height: 32px;
          font-family: GT-Eesti-Bold;
          font-weight: 700;
          text-align: center;
          color: #fff;
          background-color: #ff5533;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%; }
    .checkout .block-infomation .form-group .row-input {
      margin-bottom: 5px; }
      .checkout .block-infomation .form-group .row-input:last-child {
        margin-bottom: 0; }
      .checkout .block-infomation .form-group .row-input label {
        display: block;
        margin-bottom: 5px;
        font-size: 20px;
        font-size: 2rem; }
      .checkout .block-infomation .form-group .row-input input[type="text"], .checkout .block-infomation .form-group .row-input input[type="tel"], .checkout .block-infomation .form-group .row-input textarea {
        width: 100%;
        font-size: 20px;
        font-size: 2rem;
        border: 2px solid #b7b7b7; }
        .checkout .block-infomation .form-group .row-input input[type="text"]:focus, .checkout .block-infomation .form-group .row-input input[type="tel"]:focus, .checkout .block-infomation .form-group .row-input textarea:focus {
          outline: none; }
      .checkout .block-infomation .form-group .row-input input[type="text"] {
        padding: 14px;
        height: 56px; }
      .checkout .block-infomation .form-group .row-input input[type="tel"] {
        height: 56px; }
      .checkout .block-infomation .form-group .row-input textarea {
        padding: 14px 10px;
        resize: none; }
      .checkout .block-infomation .form-group .row-input .full-w {
        width: 74.29467%; }
      .checkout .block-infomation .form-group .row-input .half-w {
        width: calc((474/638*100%) - 121px); }
      .checkout .block-infomation .form-group .row-input .notifi {
        margin-top: 10px;
        margin-left: 25.70533%;
        color: #777; }
    .checkout .block-infomation .form-group .country .custom-select {
      width: 100%; }
    .checkout .block-infomation .form-group .country .select-selected:after {
      position: absolute;
      content: "";
      top: 50%;
      right: 20px;
      width: 0;
      height: 0;
      margin-top: 5px;
      border: 7px solid transparent;
      border-color: #1a2b49 transparent transparent transparent;
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .checkout .block-infomation .form-group .phone {
      position: relative;
      margin-bottom: 15px; }
      .checkout .block-infomation .form-group .phone .phone-input-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .checkout .block-infomation .form-group .phone .phone-input-wrap #phone-select {
          position: relative;
          -ms-flex-item-align: stretch;
          align-self: stretch;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          width: 130px;
          height: 56px;
          margin-right: 4px;
          padding: 14px 10px 14px 14px;
          border: 2px solid #b7b7b7; }
          .checkout .block-infomation .form-group .phone .phone-input-wrap #phone-select .icon {
            display: inline-block;
            width: 50px;
            margin-right: 10px; }
          .checkout .block-infomation .form-group .phone .phone-input-wrap #phone-select #current-phone-code {
            position: relative;
            padding-right: 16px;
            font-size: 18px;
            font-size: 1.8rem; }
        .checkout .block-infomation .form-group .phone .phone-input-wrap #current-phone-code:before {
          content: "+"; }
        .checkout .block-infomation .form-group .phone .phone-input-wrap #current-phone-code:after {
          position: absolute;
          content: "";
          top: 50%;
          right: 0;
          width: 0;
          height: 0;
          margin-top: 3px;
          border: 5px solid transparent;
          border-color: #1a2b49 transparent transparent transparent;
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
        .checkout .block-infomation .form-group .phone .phone-input-wrap #billing_phone_nr {
          -webkit-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          padding: 14px; }
    .checkout .block-infomation .form-group .notifi {
      font-size: 20px;
      font-size: 2rem;
      line-height: 1.1;
      color: #777; }
    .checkout .block-infomation .form-group .custom-select {
      position: relative; }
      .checkout .block-infomation .form-group .custom-select select {
        display: none; }
    .checkout .block-infomation .form-group .input-dropdown-mask {
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 9;
      display: none;
      width: 100vw;
      height: 100vw;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .checkout .block-infomation .form-group .input-dropdown-mask.show {
        display: block; }
    .checkout .block-infomation .form-group .country-list {
      position: absolute;
      top: calc( 100% - 2px);
      left: 0;
      width: 100%;
      z-index: 10;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background: #fff;
      opacity: 0;
      visibility: hidden;
      border: 2px solid #b7b7b7;
      -moz-transition: all 300ms;
      -o-transition: all 300ms;
      -webkit-transition: all 300ms;
      transition: all 300ms; }
      .checkout .block-infomation .form-group .country-list.show {
        opacity: 1;
        visibility: visible; }
      .checkout .block-infomation .form-group .country-list #country-list-scroll {
        padding: 14px 14px 0; }
        .checkout .block-infomation .form-group .country-list #country-list-scroll .list-cnt {
          margin-bottom: 25px;
          border-bottom: 1px solid #b7b7b7; }
          .checkout .block-infomation .form-group .country-list #country-list-scroll .list-cnt:last-child {
            margin-bottom: 0;
            border-bottom: none; }
          .checkout .block-infomation .form-group .country-list #country-list-scroll .list-cnt .item {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-bottom: 25px; }
            .checkout .block-infomation .form-group .country-list #country-list-scroll .list-cnt .item .country-flag {
              width: 42px;
              margin-right: 20px; }
            .checkout .block-infomation .form-group .country-list #country-list-scroll .list-cnt .item .country-row-description {
              font-size: 20px;
              font-size: 2rem; }
              .checkout .block-infomation .form-group .country-list #country-list-scroll .list-cnt .item .country-row-description .phone-code {
                color: #777; }
                .checkout .block-infomation .form-group .country-list #country-list-scroll .list-cnt .item .country-row-description .phone-code:before {
                  content: "+"; }
      .checkout .block-infomation .form-group .country-list #country-search-wrap {
        position: relative; }
        .checkout .block-infomation .form-group .country-list #country-search-wrap:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 20px;
          width: 16px;
          height: 16px;
          margin-top: -8px;
          background: url(../../images/checkout/icon-search.png) no-repeat;
          background-size: contain; }
        .checkout .block-infomation .form-group .country-list #country-search-wrap #country-search-input {
          padding-left: 50px;
          border: transparent;
          border-bottom: 1px solid #b7b7b7; }
    .checkout .block-infomation .form-group .row-detail {
      padding-bottom: 30px;
      border-bottom: 1px solid #b7b7b7; }
    .checkout .block-infomation .form-group .travel-txt {
      margin: 25px 0 10px;
      font-size: 20px;
      font-size: 2rem; }
    .checkout .block-infomation .form-group .box-ticket, .checkout .block-infomation .form-group .box-request {
      margin-top: 26px;
      padding-bottom: 30px;
      border-bottom: 1px solid #b7b7b7; }
    .checkout .block-infomation .form-group .select-selected {
      background-color: #fff; }
      .checkout .block-infomation .form-group .select-selected:after {
        position: absolute;
        content: "";
        top: 16px;
        right: 13px;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-color: #1a2b49 transparent transparent transparent; }
    .checkout .block-infomation .form-group .select-items div, .checkout .block-infomation .form-group .select-selected {
      padding: 12px 14px;
      font-size: 20px;
      font-size: 2rem;
      border: 2px solid #b7b7b7;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .checkout .block-infomation .form-group .select-items div {
      border-top: none; }
    .checkout .block-infomation .form-group .select-items {
      position: absolute;
      background-color: #fff;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99; }
    .checkout .block-infomation .form-group .select-hide {
      display: none; }
    .checkout .block-infomation .form-group .select-items div:hover {
      background-color: rgba(0, 0, 0, 0.1); }
    .checkout .block-infomation .form-group .cus-lb {
      display: block;
      position: relative;
      padding-left: 32px;
      font-size: 20px;
      font-size: 2rem;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .checkout .block-infomation .form-group .cus-lb input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0; }
      .checkout .block-infomation .form-group .cus-lb input:checked ~ .checkmark {
        background-color: #1a2b49;
        border: none; }
      .checkout .block-infomation .form-group .cus-lb input:checked ~ .checkmark:after {
        display: block; }
      .checkout .block-infomation .form-group .cus-lb .checkmark:after {
        left: 5px;
        top: 50%;
        width: 8px;
        height: 12px;
        margin-top: -2px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -moz-transform: translateY(-50%) rotate(45deg);
        -o-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
        -webkit-transform: translateY(-50%) rotate(45deg);
        transform: translateY(-50%) rotate(45deg); }
    .checkout .block-infomation .form-group .checkmark {
      position: absolute;
      top: 50%;
      left: 0;
      height: 18px;
      width: 18px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.33);
      box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.33);
      border: 1px solid #b7b7b7;
      background-color: #dedede;
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      .checkout .block-infomation .form-group .checkmark:after {
        content: "";
        position: absolute;
        display: none; }
    .checkout .block-infomation .form-group .cus-lb02 {
      display: block;
      position: relative;
      padding-left: 22px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .checkout .block-infomation .form-group .cus-lb02 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0; }
      .checkout .block-infomation .form-group .cus-lb02 input:checked ~ .checkmark02:after {
        display: block; }
      .checkout .block-infomation .form-group .cus-lb02 .checkmark02:after {
        left: 50%;
        top: 50%;
        width: 6px;
        height: 6px;
        background: #777;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .checkout .block-infomation .form-group .checkmark02 {
      position: absolute;
      top: 50%;
      left: 0;
      height: 14px;
      width: 14px;
      background-color: #dbdbdb;
      border: 1px solid #b7b7b7;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      .checkout .block-infomation .form-group .checkmark02:after {
        content: "";
        position: absolute;
        display: none; }
    .checkout .block-infomation .form-group .box-select {
      margin: 26px 0 50px; }
      .checkout .block-infomation .form-group .box-select .fa-lock {
        margin-right: 10px; }
      .checkout .block-infomation .form-group .box-select .secure {
        margin-top: 22px;
        font-size: 20px;
        font-size: 2rem;
        text-align: center; }
      .checkout .block-infomation .form-group .box-select .list-pay {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 2px 0 3px; }
        .checkout .block-infomation .form-group .box-select .list-pay li {
          margin-right: 5px; }
      .checkout .block-infomation .form-group .box-select .box-flag {
        margin: 25px 0;
        font-size: 20px;
        font-size: 2rem; }
        .checkout .block-infomation .form-group .box-select .box-flag .row-input.item-center {
          padding: 10px 3.98148%; }
      .checkout .block-infomation .form-group .box-select .row-input.item-center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
        padding: 10px 15px;
        border-top: 1px solid #b7b7b7; }
        .checkout .block-infomation .form-group .box-select .row-input.item-center.last {
          border-bottom: 1px solid #b7b7b7; }
      .checkout .block-infomation .form-group .box-select .row-input.item-center02 {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .checkout .block-infomation .form-group .box-select .row-input.item-center02 label {
          margin-top: 0; }
        .checkout .block-infomation .form-group .box-select .row-input.item-center02 .img-check {
          margin: 0 5px 0 4px; }
      .checkout .block-infomation .form-group .box-select .row-input .cus-lb02 {
        width: auto;
        margin-top: 0px; }
      .checkout .block-infomation .form-group .box-select .row-input.date {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .checkout .block-infomation .form-group .box-select .row-input.date label {
          width: 100%; }
        .checkout .block-infomation .form-group .box-select .row-input.date .ipt-w01 {
          max-width: 180px;
          width: 40%;
          margin-right: 20px; }
        .checkout .block-infomation .form-group .box-select .row-input.date .img-check {
          width: 50px;
          margin-right: 8px; }
        .checkout .block-infomation .form-group .box-select .row-input.date .custom-select {
          position: relative;
          max-width: 180px;
          width: 40%;
          margin-right: 20px; }
          .checkout .block-infomation .form-group .box-select .row-input.date .custom-select .select-selected:after {
            top: 50%;
            margin-top: 3px;
            border: 7px solid transparent;
            border-color: #1a2b49 transparent transparent transparent;
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    .checkout .block-infomation .form-group .box-summary .summary-ttl {
      margin-bottom: 16px;
      font-family: GT-Eesti-Bold;
      font-weight: 700;
      font-size: 25px;
      font-size: 2.5rem;
      color: #1a2b49; }
    .checkout .block-infomation .form-group .box-summary .notifi-war {
      margin-bottom: 27px;
      padding: 13px 3.98148%;
      font-size: 20px;
      font-size: 2rem;
      color: #ff8c41;
      background-color: #fff7f2;
      border-top: 4px solid #ff8c41; }
    .checkout .block-infomation .form-group .box-summary .box-sell {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 20px; }
      .checkout .block-infomation .form-group .box-summary .box-sell .photo {
        width: 23.49398%; }
      .checkout .block-infomation .form-group .box-summary .box-sell .info {
        width: 74.6988%; }
        .checkout .block-infomation .form-group .box-summary .box-sell .info .box-head {
          position: relative; }
          .checkout .block-infomation .form-group .box-summary .box-sell .info .box-head .title {
            margin-bottom: 5px;
            font-family: GT-Eesti-Medium;
            font-weight: 500;
            font-size: 20px;
            font-size: 2rem; }
            .checkout .block-infomation .form-group .box-summary .box-sell .info .box-head .title a {
              color: #1a2b49; }
          .checkout .block-infomation .form-group .box-summary .box-sell .info .box-head .txt-c {
            font-size: 16px;
            font-size: 1.6rem;
            line-height: 1.6;
            color: #999; }
            .checkout .block-infomation .form-group .box-summary .box-sell .info .box-head .txt-c .fa {
              width: 14px;
              margin-right: 7px;
              text-align: center; }
          .checkout .block-infomation .form-group .box-summary .box-sell .info .box-head .price {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 16px;
            font-size: 1.6rem;
            line-height: 1.1; }
            .checkout .block-infomation .form-group .box-summary .box-sell .info .box-head .price .line {
              text-decoration: line-through; }
            .checkout .block-infomation .form-group .box-summary .box-sell .info .box-head .price .fz-xl {
              margin-left: 6px;
              font-size: 22px;
              font-size: 2.2rem;
              font-family: GT-Eesti-Medium;
              font-weight: 500;
              color: #d0021b; }
        .checkout .block-infomation .form-group .box-summary .box-sell .info .box-option {
          margin-top: 20px; }
          .checkout .block-infomation .form-group .box-summary .box-sell .info .box-option .option {
            margin: 10px 0 5px;
            font-size: 16px;
            font-size: 1.6rem;
            font-family: GT-Eesti-Medium;
            font-weight: 500; }
          .checkout .block-infomation .form-group .box-summary .box-sell .info .box-option .list-service li {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding-left: 22px;
            font-size: 16px;
            font-size: 1.6rem;
            line-height: 1.6;
            color: #999; }
            .checkout .block-infomation .form-group .box-summary .box-sell .info .box-option .list-service li:before {
              position: absolute;
              top: 4px;
              left: 0;
              content: "\f00c";
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              color: #00be83;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale; }
            .checkout .block-infomation .form-group .box-summary .box-sell .info .box-option .list-service li .name-sv {
              border-bottom: 1px dashed #999; }
            .checkout .block-infomation .form-group .box-summary .box-sell .info .box-option .list-service li .price-sv {
              font-family: GT-Eesti-Medium;
              font-weight: 500;
              font-size: 16px;
              font-size: 1.6rem;
              color: #d0021b; }
          .checkout .block-infomation .form-group .box-summary .box-sell .info .box-option .list-lb {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-top: 15px; }
            .checkout .block-infomation .form-group .box-summary .box-sell .info .box-option .list-lb li {
              display: inline-block;
              margin-right: 12px;
              padding: 2px 9px 2px 7px;
              font-size: 12px;
              font-size: 1.2rem;
              font-family: GT-Eesti-Medium;
              font-weight: 500;
              text-transform: uppercase;
              color: #fff;
              background: #000;
              -moz-border-radius: 2px;
              -webkit-border-radius: 2px;
              border-radius: 2px; }
              .checkout .block-infomation .form-group .box-summary .box-sell .info .box-option .list-lb li.sell-out {
                background: #ff8c41; }
              .checkout .block-infomation .form-group .box-summary .box-sell .info .box-option .list-lb li.cancel {
                background: #00be7f; }
    .checkout .block-infomation .form-group .box-summary .notifi-suc {
      padding: 20px 3.98148%;
      font-size: 16px;
      font-size: 1.6rem;
      color: #00be7f;
      background-color: #ebffee; }
      .checkout .block-infomation .form-group .box-summary .notifi-suc .fa {
        margin-right: 15px; }
        .checkout .block-infomation .form-group .box-summary .notifi-suc .fa:before {
          color: #00be7f; }
    .checkout .block-infomation .form-group .box-summary .row-input.sign {
      margin-top: 30px;
      padding-top: 20px;
      border-top: 1px solid #b7b7b7; }
      .checkout .block-infomation .form-group .box-summary .row-input.sign label {
        width: 100%;
        margin-bottom: 14px;
        padding-left: 28px;
        font-size: 16px;
        font-size: 1.6rem; }
      .checkout .block-infomation .form-group .box-summary .row-input.sign .checkmark {
        width: 14px;
        height: 14px; }
        .checkout .block-infomation .form-group .box-summary .row-input.sign .checkmark:after {
          left: 4px;
          width: 6px;
          height: 9px;
          margin-top: -1px; }
    .checkout .block-infomation .form-group .box-summary .box-total {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 20px;
      padding: 12px 3.98148%;
      border-top: 3px solid #42c1c7; }
      .checkout .block-infomation .form-group .box-summary .box-total .total-txt {
        font-size: 22px;
        font-size: 2.2rem; }
      .checkout .block-infomation .form-group .box-summary .box-total .total-num {
        font-size: 16px;
        font-size: 1.6rem;
        text-align: right; }
        .checkout .block-infomation .form-group .box-summary .box-total .total-num span {
          font-size: 22px;
          font-size: 2.2rem;
          font-family: GT-Eesti-Medium;
          font-weight: 500;
          color: #d0021b; }
    .checkout .block-infomation .form-group .form-text {
      font-size: 16px;
      font-size: 1.6rem;
      color: #777; }
      .checkout .block-infomation .form-group .form-text.txt01 {
        margin-top: 25px;
        color: #1a2b49; }
      .checkout .block-infomation .form-group .form-text a {
        text-decoration: underline;
        color: #42c1c7; }
    .checkout .block-infomation .form-group .btn-pay {
      display: block;
      margin: 15px auto 0;
      padding: 8px 20px;
      font-size: 22px;
      font-size: 2.2rem;
      font-family: GT-Eesti-Medium;
      font-weight: 500;
      color: #fff;
      background: #42c1c7;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px; }
    .checkout .block-infomation .tour-intro {
      margin-top: 50px; }
      .checkout .block-infomation .tour-intro .tour-inner .inner-head {
        padding: 3.98148% 3.98148% 10px;
        background-color: #f3f4f6; }
      .checkout .block-infomation .tour-intro .tour-info {
        padding: 0 15px;
        margin-top: 20px; }
        .checkout .block-infomation .tour-intro .tour-info .tour-ttl {
          margin-bottom: 5px;
          font-size: 25px;
          font-size: 2.5rem;
          font-family: GT-Eesti-Medium;
          font-weight: 500; }
        .checkout .block-infomation .tour-intro .tour-info .txt-c {
          font-size: 16px;
          font-size: 1.6rem;
          line-height: 1.6;
          color: #999; }
          .checkout .block-infomation .tour-intro .tour-info .txt-c .fa {
            width: 14px;
            margin-right: 15px;
            text-align: center; }
        .checkout .block-infomation .tour-intro .tour-info .box-option .option {
          margin: 15px 0 5px;
          font-size: 16px;
          font-size: 1.6rem;
          font-family: GT-Eesti-Medium;
          font-weight: 500; }
        .checkout .block-infomation .tour-intro .tour-info .box-option .list-service li {
          font-size: 16px;
          font-size: 1.6rem;
          line-height: 2;
          color: #999; }
          .checkout .block-infomation .tour-intro .tour-info .box-option .list-service li .name-sv {
            display: inline-block;
            line-height: 1.1;
            border-bottom: 1px dashed #999; }
        .checkout .block-infomation .tour-intro .tour-info .box-option .list-lb {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-top: 10px; }
          .checkout .block-infomation .tour-intro .tour-info .box-option .list-lb li {
            display: inline-block;
            margin-right: 12px;
            padding: 2px 9px 2px 7px;
            font-size: 12px;
            font-size: 1.2rem;
            font-family: GT-Eesti-Medium;
            font-weight: 500;
            text-transform: uppercase;
            color: #fff;
            background: #000;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px; }
            .checkout .block-infomation .tour-intro .tour-info .box-option .list-lb li.sell-out {
              background: #ff8c41; }
            .checkout .block-infomation .tour-intro .tour-info .box-option .list-lb li.cancel {
              background: #00be7f; }
        .checkout .block-infomation .tour-intro .tour-info .price {
          margin-top: 10px;
          font-size: 16px;
          font-size: 1.6rem;
          text-align: right; }
          .checkout .block-infomation .tour-intro .tour-info .price span {
            font-size: 22px;
            font-size: 2.2rem;
            font-family: GT-Eesti-Medium;
            font-weight: 500;
            color: #d0021b; }
        .checkout .block-infomation .tour-intro .tour-info .notify-suc {
          margin: 5px 0 15px;
          padding: 8px 10px 8px 15px;
          font-size: 16px;
          font-size: 1.6rem;
          color: #00be7f;
          background: #ebffee; }
          .checkout .block-infomation .tour-intro .tour-info .notify-suc .fa {
            margin-right: 2px;
            font-size: 16px;
            font-size: 1.6rem; }
      .checkout .block-infomation .tour-intro .inner-data {
        padding: 3.98148%; }
      .checkout .block-infomation .tour-intro .can, .checkout .block-infomation .tour-intro .data, .checkout .block-infomation .tour-intro .book {
        margin-bottom: 10px;
        font-size: 18px;
        font-size: 1.8rem;
        font-family: GT-Eesti-Medium;
        font-weight: 500; }
      .checkout .block-infomation .tour-intro .list-pay {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 12px; }
        .checkout .block-infomation .tour-intro .list-pay li {
          margin: 0 3.5px; }
      .checkout .block-infomation .tour-intro .data-txt {
        position: relative;
        padding: 0 20px 0 50px;
        font-size: 16px;
        font-size: 1.6rem; }
        .checkout .block-infomation .tour-intro .data-txt p {
          margin-bottom: 25px; }
        .checkout .block-infomation .tour-intro .data-txt .fa-lock {
          position: absolute;
          top: 7px;
          left: 14px;
          font-size: 28px; }
        .checkout .block-infomation .tour-intro .data-txt a {
          color: #42c1c7; }
      .checkout .block-infomation .tour-intro .list-book li {
        position: relative;
        padding: 0 15px 0 38px;
        margin-bottom: 25px;
        font-size: 16px;
        font-size: 1.6rem; }
        .checkout .block-infomation .tour-intro .list-book li:last-child {
          margin-bottom: 0; }
        .checkout .block-infomation .tour-intro .list-book li .fa-check {
          position: absolute;
          top: 2px;
          left: 4px;
          font-size: 18px;
          font-size: 1.8rem;
          color: #42c1c7; }
