@charset "UTF-8";
@import "../mixin";

.modal-login {
	background: url(/common/images/share/bg-login.jpg) bottom center no-repeat;
	background-size: cover;
	border: 1px solid #fff;
	.modal-login-dialog {
		width: 100%;
		max-width: 553px;
		margin: 0 auto;
		padding: 95px 0 60px;
		text-align: center;
		.log-logo {
			margin-bottom: 80px;
			img {
				width: 347/553*100%;
			}
		}

		.btn {
			a {
				display: inline-block;
				width: 90%;
				height: 60px;
				max-width: 320px;
				padding: 0 20/320*100%;
				color: #fff;
				@include fz(20);
				text-align: left;
				line-height: 60px;
				@include border-radius(5px);
				background: $color_main02;
				i {
					width: 40px;
					margin-right: 20/320*100%;
					@include fz(30);
					vertical-align: middle;
				}
			}
			&.log-google {
				margin-top: 10px;
				a {
					color: $color_main02;
					background: #fff;
				}
			}
			&.handle-log {
				a {
					max-width: 345px;
					text-align: center;
				}
			}
		}

		.log-or {
			margin-bottom: 45px;
			span {
				position: relative;
				display: inline-block;
				width: 90%;
				max-width: 320px;
				margin-top: 15px;
				color: #fff;
				@include fz(20);
				white-space: nowrap;
    		overflow: hidden;
    		&::before,
    		&::after {
    			position: relative;
			    content: '';
			    display: inline-block;
			    width: 45%;
			    height: 1px;
			    background: #636b6b;
			    vertical-align: middle;
    		}
    		&::before {
    			right: 12px;
    		}
    		&::after {
    			left: 12px;
    		}
			}
		}

		.main-log-in {
			@-webkit-keyframes autofill {
		    to {
	        color: #fff;
	        background: transparent;
		    }
			}

			input:-webkit-autofill {
			    -webkit-animation-name: autofill;
			    -webkit-animation-fill-mode: both;
			}
			input {
				&::-webkit-input-placeholder { 
				  color: #fff;
				}
				&::-moz-placeholder { 
				  color: #fff;
				}
				&:-ms-input-placeholder { 
				  color: #fff;
				}
				&:-moz-placeholder { 
				  color: #fff;
				}
			}
			.txtInput {
				padding: 15px 40/553*100%;
				margin-bottom: 25px;
				font-size: 0;
				text-align: left;
				border-bottom: 2px solid rgba(255,255,255, .2);
				.icon {
					display: inline-block;
					margin-right: 4.5%;
					vertical-align: middle;
				}
				input:-webkit-autofill {
					background-color: none !important;
				}
				.in {
					display: inline-block;
					width: calc(95.5% - 30px);
					height: 40px;
					color: #fff!important;
					@include fz(20);
					border: none;
					outline: none;
					background: none !important;
					vertical-align: middle;
				}
			}
			.act {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				color: rgba(255,255,255, .5);
				@include fz(18);
				margin-bottom: 80px;
				padding: 0 20/553*100% 0 40/553*100%;
				.remember {
					display: inline-block;
					input[type="checkbox"] {
						width: 0;
						height: 0;
						@include opacity(0);
					}
					input[type="checkbox"] + label {
						position: relative;
						margin-left: 50px;
						cursor: pointer;
						&::before {
							position: absolute;
							top: 50%;
							left: -50px;
							content: '';
							width: 20px;
							height: 20px;
							border: 2px solid rgba(255,255,255, .5);
							@include border-radius(4px);
							background: none;
							@include transform(translateY(-50%));
							@include transition(all .3s ease-out);
						}
						&::after {
							position: absolute;
							top: calc(50% - 3px);
							left: -43px;
							content: '';
							width: 7px;
							height: 12px;
							border-right: 2px solid #fff;
							border-bottom: 2px solid #fff;
							@include opacity(0);
							@include transform(translateY(-50%) rotate(45deg) skew(15deg));
							@include transition(all .3s ease-out);
						}
						&:hover {
							color: #fff;
						}
					}
					input[type="checkbox"]:checked + label {
						&::before {
							background: $color_main02;
						}
						&::after {
							@include opacity(1);
						}
					}
				}
				.forgot {
					display: inline-block;
					a {
						color: rgba(255,255,255, .5);
						&:hover {
							color: #fff;
						}
					}
				}
			}

		}
		.new-here {
			margin-top: 45px;
			color:  rgba(255,255,255, .5);
			@include fz(18);
			a {
				display: inline-block;
				margin-left: 10px;
				color: #fff;
				@include transition(all .3s ease-out);
				&:hover {
					color: $color_main02;
					text-decoration: underline;
				}
			}
		}
	}
	&.open {
		display: block;
		.modal-login-dialog {
			top: 10%;
		}
	}
}