@font-face {
  font-family: "GT-Eesti-Light";
  src: url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.eot");
  src: url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.woff") format("woff"), url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.ttf") format("truetype"), url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.svg#GT-Eesti-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GT-Eesti-Regular";
  src: url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.eot");
  src: url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.woff") format("woff"), url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.ttf") format("truetype"), url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.svg#GT-Eesti-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GT-Eesti-Medium";
  src: url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.eot");
  src: url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.woff") format("woff"), url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.ttf") format("truetype"), url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.svg#GT-Eesti-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GT-Eesti-Bold";
  src: url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.eot");
  src: url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.woff") format("woff"), url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.ttf") format("truetype"), url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.svg#GT-Eesti-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FontAwesome";
  src: url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.eot");
  src: url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "iz";
  src: url("/halong-cruises/common/fonts/iz/iz.eot");
  src: url("/halong-cruises/common/fonts/iz/iz.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/iz/iz.woff") format("woff"), url("/halong-cruises/common/fonts/iz/iz.ttf") format("truetype"), url("/halong-cruises/common/fonts/iz/iz.svg#iz") format("svg");
  font-weight: normal;
  font-style: normal; }

.compare {
  margin-top: 25px;
  padding-bottom: 25px; }
  .compare .wrap {
    width: 93.88889%; }
  .compare .inner-bd {
    border-top: 1px solid #b7b7b7; }
  .compare .com-row-01 {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 3.05556%; }
    .compare .com-row-01:after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      margin-left: -.5px;
      background: #b7b7b7; }
    .compare .com-row-01.row-head .com-col {
      padding-top: 40px; }
      .compare .com-row-01.row-head .com-col.col01 {
        padding-right: 0; }
    .compare .com-row-01.col-txt .com-col.col02 {
      padding-left: 5px; }
    .compare .com-row-01.col-txt02 {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 15px;
      padding-bottom: 12px;
      border-bottom: 1px solid #b7b7b7; }
      .compare .com-row-01.col-txt02.col-btn {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: none; }
        .compare .com-row-01.col-txt02.col-btn:after {
          display: none; }
        .compare .com-row-01.col-txt02.col-btn .com-col {
          padding: 0; }
          .compare .com-row-01.col-txt02.col-btn .com-col.col01 {
            padding: 0 10px 0 5px; }
          .compare .com-row-01.col-txt02.col-btn .com-col.col02 {
            padding: 0 5px 0 10px; }
      .compare .com-row-01.col-txt02 .com-col.col01 {
        padding: 0 5px 0 0; }
      .compare .com-row-01.col-txt02 .com-col.col02 {
        padding: 0 0 0 5px; }
      .compare .com-row-01.col-txt02 .row-ttl {
        width: 100%;
        padding: 0; }
      .compare .com-row-01.col-txt02 .ttl02 {
        font-size: 20px;
        font-size: 2rem;
        line-height: 1.2;
        color: #1a2b49; }
        .compare .com-row-01.col-txt02 .ttl02 span {
          display: block; }
        .compare .com-row-01.col-txt02 .ttl02.txt-mt01 {
          margin-top: 48px; }
      .compare .com-row-01.col-txt02 .txt02 {
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 1.6;
        color: #1a2b49; }
        .compare .com-row-01.col-txt02 .txt02 span {
          display: block; }
  .compare .com-col {
    position: relative;
    width: 48.91519%;
    padding: 20px 0 20px; }
    .compare .com-col:last-child {
      border-right: none; }
    .compare .com-col.col01 {
      padding-right: 5px; }
    .compare .com-col.col02 .box-meta {
      padding-left: 5px; }
    .compare .com-col.not-bd {
      border-right: none; }
    .compare .com-col .btn-close {
      position: absolute;
      top: 7px;
      right: 0;
      display: block;
      color: #bec7d3; }
      .compare .com-col .btn-close .fa {
        font-size: 27px; }
    .compare .com-col .thumb {
      position: relative;
      margin-bottom: 18px; }
      .compare .com-col .thumb img {
        width: 100%;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; }
      .compare .com-col .thumb .btn-favorite {
        position: absolute;
        bottom: 0;
        right: 7.87879%;
        z-index: 3;
        width: 32px;
        height: 32px;
        line-height: 34px;
        text-align: center;
        overflow: hidden;
        color: #fff;
        background: #bec7d3;
        cursor: pointer;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
        -moz-transform: translateY(50%);
        -o-transform: translateY(50%);
        -ms-transform: translateY(50%);
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        -moz-transition: all 300ms;
        -o-transition: all 300ms;
        -webkit-transition: all 300ms;
        transition: all 300ms; }
        .compare .com-col .thumb .btn-favorite .fa {
          font-size: 12px; }
        .compare .com-col .thumb .btn-favorite:hover, .compare .com-col .thumb .btn-favorite.favorited {
          background: #42c1c7; }
    .compare .com-col .box-meta .tl {
      margin-bottom: 5px;
      font-size: 16px;
      font-size: 1.6rem;
      font-family: GT-Eesti-Medium;
      font-weight: 500;
      color: #1a2b49; }
    .compare .com-col .box-meta .box-pay {
      margin-bottom: 5px; }
    .compare .com-col .box-meta .payment-line {
      font-size: 16px;
      font-size: 1.6rem;
      text-decoration: line-through;
      color: #1a2b49; }
    .compare .com-col .box-meta .payment {
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 1;
      color: #1a2b49; }
      .compare .com-col .box-meta .payment span {
        font-size: 18px;
        font-size: 1.8rem;
        color: #d0021b; }
    .compare .com-col .box-meta .re-view {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 8px; }
      .compare .com-col .box-meta .re-view .deal-star {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        margin-right: 7px; }
        .compare .com-col .box-meta .re-view .deal-star .fa {
          font-size: 14px;
          margin-right: 3px; }
      .compare .com-col .box-meta .re-view .excellent {
        font-size: 16px;
        font-size: 1.6rem;
        color: #b3b8c1; }
    .compare .com-col .add-more {
      position: absolute;
      top: 110px;
      left: 50%;
      font-size: 15px;
      font-size: 1.5rem;
      line-height: 1.2;
      text-align: center;
      color: #1a2b49;
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
      .compare .com-col .add-more span {
        display: block; }
      .compare .com-col .add-more p {
        margin-bottom: 10px; }
      .compare .com-col .add-more .fa {
        font-size: 42px;
        color: #bec7d3; }
    .compare .com-col .list-compare li {
      position: relative;
      padding-left: 28px;
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 1.8;
      color: #1a2b49; }
      .compare .com-col .list-compare li .fa {
        position: absolute;
        top: 4px;
        left: 0;
        width: 17px;
        text-align: center;
        color: #42c1c7; }
    .compare .com-col .compare-btn {
      display: block;
      max-width: 205px;
      width: 100%;
      margin: 0 auto;
      padding: 8px;
      font-size: 16px;
      font-size: 1.6rem;
      text-align: center;
      color: #fff;
      background: #1a2b49;
      -moz-transition: all 300ms;
      -o-transition: all 300ms;
      -webkit-transition: all 300ms;
      transition: all 300ms; }
      .compare .com-col .compare-btn.btn02 {
        background: #42c1c7; }
        .compare .com-col .compare-btn.btn02 .fa {
          margin-left: 5px; }
    .compare .com-col .list-compare-btn li {
      margin: 10px 0; }
    .compare .com-col.bd-bt:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: url(../../images/compare/bg-bd.png) repeat-x; }
  .compare .box-more-product {
    margin-top: 18%;
    padding: 0 4% 0 8%;
    font-size: 16px;
    font-size: 1.6rem;
    text-align: center; }
    .compare .box-more-product p {
      font-family: GT-Eesti-Medium;
      font-weight: 500;
      line-height: 1.2;
      color: #1a2b49; }
    .compare .box-more-product .product-name {
      width: 100%;
      margin-top: 10px;
      padding: 8px 10px;
      border: 1px solid #b7b7b7;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
  .compare .box-img-more {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 3.05556%;
    margin: 30px auto; }
    .compare .box-img-more .item {
      position: relative;
      width: 48.32347%;
      text-align: center; }
      .compare .box-img-more .item .btn-img-more {
        display: inline-block;
        margin-top: 10px;
        font-size: 16px;
        font-size: 1.6rem;
        font-family: GT-Eesti-Medium;
        font-weight: 500;
        color: #1a2b49; }
        .compare .box-img-more .item .btn-img-more .fa {
          margin-right: 10px; }
  .compare .list-photos {
    display: none; }
  .compare .list-top-deals {
    margin-top: 34px;
    padding: 0 3.05556%; }
    .compare .list-top-deals .item .item-title a {
      font-size: 18px;
      font-size: 1.8rem; }
  .compare .com-row-tl {
    background: #ebeef2; }
    .compare .com-row-tl h4 {
      padding: 8px 3.05556%;
      font-size: 25px;
      font-size: 2.5rem;
      font-weight: normal;
      color: #1a2b49; }
  @media screen and (max-width: 540px) {
    .compare .com-col .box-meta .re-view .excellent {
      font-size: 14px;
      font-size: 1.4rem; } }
