@import url(https://fonts.googleapis.com/css?family=Raleway);
@font-face {
  font-family: "GT-Eesti-Light";
  src: url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.eot");
  src: url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.woff") format("woff"), url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.ttf") format("truetype"), url("/halong-cruises/common/fonts/GTEestiLight/GT-Eesti-Pro-Display-Light.svg#GT-Eesti-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GT-Eesti-Regular";
  src: url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.eot");
  src: url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.woff") format("woff"), url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.ttf") format("truetype"), url("/halong-cruises/common/fonts/GTEestiRegular/GT-Eesti-Pro-Display-Regular.svg#GT-Eesti-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GT-Eesti-Medium";
  src: url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.eot");
  src: url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.woff") format("woff"), url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.ttf") format("truetype"), url("/halong-cruises/common/fonts/GTEestiMedium/GT-Eesti-Pro-Display-Medium.svg#GT-Eesti-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GT-Eesti-Bold";
  src: url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.eot");
  src: url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.woff") format("woff"), url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.ttf") format("truetype"), url("/halong-cruises/common/fonts/GTEestiBold/GT-Eesti-Pro-Display-Bold.svg#GT-Eesti-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FontAwesome";
  src: url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.eot");
  src: url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/halong-cruises/common/fonts/FontAwesome/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "iz";
  src: url("/halong-cruises/common/fonts/iz/iz.eot");
  src: url("/halong-cruises/common/fonts/iz/iz.eot?#iefix") format("embedded-opentype"), url("/halong-cruises/common/fonts/iz/iz.woff") format("woff"), url("/halong-cruises/common/fonts/iz/iz.ttf") format("truetype"), url("/halong-cruises/common/fonts/iz/iz.svg#iz") format("svg");
  font-weight: normal;
  font-style: normal; }

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #1a2b49;
  outline: none;
  opacity: 0.7;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #42c1c7;
  cursor: pointer; }

input[type=range]::-moz-range-thumb {
  background: #42c1c7;
  width: 18px;
  height: 18px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer; }

.tour .section-banner {
  position: relative; }
  .tour .section-banner .top-banner {
    padding: 0;
    height: 500px;
    overflow: hidden; }
    .tour .section-banner .top-banner img {
      position: absolute;
      left: 50%;
      width: auto;
      max-width: inherit;
      height: 100%;
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    .tour .section-banner .top-banner .txt-banner {
      position: absolute;
      top: calc(100% - 400px);
      left: 50%;
      z-index: 2;
      width: 96%;
      color: #fff;
      max-width: 1065px;
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
      .tour .section-banner .top-banner .txt-banner .sm {
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        font-size: 3rem;
        line-height: 1.14;
        letter-spacing: normal; }
      .tour .section-banner .top-banner .txt-banner .big {
        width: 314px;
        font-family: GT-Eesti-Bold;
        font-weight: 700;
        font-size: 70px;
        font-size: 7rem;
        line-height: 1.14;
        text-transform: uppercase;
        text-shadow: -0.7px 0.7px 0 rgba(0, 0, 0, 0.75); }
  .tour .section-banner .search-box {
    top: calc(100% - 130px); }

.tour #loading {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  display: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8) url(../../images/share/ajax-loading-gif.gif) no-repeat center 30%;
  background-size: auto;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.tour .section-content {
  margin-top: 15px;
  padding-bottom: 30px; }
  .tour .section-content .wrap {
    position: relative;
    display: block; }
  .tour .section-content .review-count {
    color: #1a2b49;
    font-size: 25px;
    font-size: 2.5rem; }
  .tour .section-content .filter-box {
    display: none;
    height: 36px;
    padding: 0 25px;
    margin-right: 5px;
    color: #777;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 36px;
    border: 1px solid #b7b7b7;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px; }
  .tour .section-content .sort-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 194px; }
    .tour .section-content .sort-box::after {
      top: calc(50% - 4px);
      content: '';
      width: 10px;
      height: 10px;
      border-bottom: 1px solid #777;
      border-right: 1px solid #777;
      -moz-transform: translateY(-50%) rotate(45deg);
      -o-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
      -webkit-transform: translateY(-50%) rotate(45deg);
      transform: translateY(-50%) rotate(45deg); }
    .tour .section-content .sort-box select {
      width: 194px;
      height: 46px;
      padding: 0 19px;
      color: #777;
      font-size: 16px;
      font-size: 1.6rem;
      outline: none;
      border: 1px solid #b7b7b7;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; }
  .tour .section-content .main-section-content {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: 35px; }
    .tour .section-content .main-section-content .sidebar {
      width: 22.66667%; }
      .tour .section-content .main-section-content .sidebar h2 {
        padding: 15px 9.19118%;
        margin-bottom: 13px;
        color: #fff;
        font-size: 20px;
        font-size: 2rem;
        line-height: 19.2px;
        background: #42c1c7; }
      .tour .section-content .main-section-content .sidebar .box-sidebar {
        margin-bottom: 9px;
        border: 1px solid #b7b7b7; }
        .tour .section-content .main-section-content .sidebar .box-sidebar h3 {
          position: relative;
          padding: 15px 9.19118% 15px;
          color: #1a2b49;
          font-family: GT-Eesti-Bold;
          font-weight: 700;
          font-size: 16px;
          font-size: 1.6rem;
          line-height: 1.2;
          cursor: pointer; }
          .tour .section-content .main-section-content .sidebar .box-sidebar h3::after {
            position: absolute;
            top: 50%;
            right: 9.19118%;
            content: '';
            width: 8px;
            height: 8px;
            border-top: 1px solid #777;
            border-right: 1px solid #777;
            -moz-transform: translateY(-50%) rotate(-45deg);
            -o-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
            -webkit-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg); }
          .tour .section-content .main-section-content .sidebar .box-sidebar h3.hide::after {
            top: calc(50% - 2px);
            -moz-transform: translateY(-50%) rotate(135deg);
            -o-transform: translateY(-50%) rotate(135deg);
            -ms-transform: translateY(-50%) rotate(135deg);
            -webkit-transform: translateY(-50%) rotate(135deg);
            transform: translateY(-50%) rotate(135deg); }
        .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box {
          padding: 0 9.19118% 15px;
          margin-top: -5px;
          color: #777;
          font-size: 16px;
          font-size: 1.6rem;
          line-height: 1.88; }
          .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box.box-deals {
            padding-top: 20px;
            padding-bottom: 25px; }
          .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .datebox {
            position: relative;
            margin-top: 10px;
            border: 1px solid #b7b7b7; }
            .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .datebox i {
              position: absolute;
              top: 48%;
              left: 4%;
              -moz-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
            .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .datebox input {
              width: 100%;
              height: 34px;
              padding: 6px 10px 4px 13.63636%; }
          .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .search-box {
            position: relative;
            background: #f7f7f7;
            margin: 10px 0; }
            .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .search-box i {
              position: absolute;
              top: 50%;
              left: 7.72727%;
              color: #777;
              font-size: 12px;
              font-size: 1.2rem;
              -moz-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
            .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .search-box input {
              width: 100%;
              height: 40px;
              padding: 5px 10px 5px 18.18182%;
              font-size: 16px;
              font-size: 1.6rem; }
          .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .range {
            position: relative; }
            .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .range.range-date {
              margin: 15px 0 40px; }
          .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .txt-cen {
            position: relative;
            text-align: center; }
            .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .txt-cen.num::before, .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .txt-cen.num::after {
              position: absolute;
              top: 50%;
              -moz-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
            .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .txt-cen.num::before {
              left: 20%;
              content: '1'; }
            .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .txt-cen.num::after {
              right: 20%;
              content: '10'; }
          .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .lead {
            margin-top: 40px;
            color: #1a2b49;
            font-family: GT-Eesti-Bold;
            font-weight: 700;
            font-size: 16px;
            font-size: 1.6rem;
            line-height: 1.2; }
          .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .txt-val {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: space-between;
            -moz-box-pack: space-between;
            -ms-flex-pack: space-between;
            -webkit-justify-content: space-between;
            justify-content: space-between; }
            .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .txt-val span {
              display: inline-block;
              line-height: 1.19; }
          .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .list-filter .item {
            display: none; }
          .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .list-rate-hotel li {
            position: relative; }
            .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .list-rate-hotel li input[type="checkbox"] {
              position: absolute;
              top: 0;
              left: 0;
              width: 0;
              height: 0;
              opacity: 0; }
            .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .list-rate-hotel li label {
              position: relative;
              padding-left: 22px; }
              .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .list-rate-hotel li label::before {
                position: absolute;
                top: 50%;
                left: 0;
                content: '';
                width: 13px;
                height: 13px;
                border: 1px solid #777;
                -moz-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
              .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .list-rate-hotel li label::after {
                position: absolute;
                top: calc(50% - 1px);
                left: 4px;
                content: '';
                display: none;
                width: 5px;
                height: 10px;
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
                -moz-transform: translateY(-50%) rotate(45deg) skew(10deg);
                -o-transform: translateY(-50%) rotate(45deg) skew(10deg);
                -ms-transform: translateY(-50%) rotate(45deg) skew(10deg);
                -webkit-transform: translateY(-50%) rotate(45deg) skew(10deg);
                transform: translateY(-50%) rotate(45deg) skew(10deg); }
              .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .list-rate-hotel li label i {
                color: #ffc600; }
            .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .list-rate-hotel li input[type="checkbox"]:checked + label::before {
              background: #1a2b49; }
            .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .list-rate-hotel li input[type="checkbox"]:checked + label::after {
              display: block; }
          .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .list-sidebar {
            width: 100%;
            max-width: 190px;
            margin: 0 auto; }
            .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .list-sidebar .item a {
              color: #777;
              font-size: 16px;
              font-size: 1.6rem; }
              .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .list-sidebar .item a span {
                color: #b7b7b7; }
              .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .list-sidebar .item a:hover {
                color: #42c1c7; }
          .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .list-deals .item a {
            color: #1a2b49;
            font-size: 16px;
            font-size: 1.6rem;
            line-height: 1.88;
            text-decoration: underline; }
            .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .list-deals .item a:hover {
              color: #42c1c7; }
          .tour .section-content .main-section-content .sidebar .box-sidebar .inner-box .more a {
            color: #78c3fe;
            text-decoration: underline; }
    .tour .section-content .main-section-content .main-tour {
      position: relative;
      width: 75.41667%; }
  .tour .section-content .box-section-content {
    margin-top: 50px; }
    .tour .section-content .box-section-content .box {
      padding: 40px 5.41667%;
      margin-bottom: 30px;
      color: #1a2b49;
      line-height: 1.7;
      border: 1px solid #b7b7b7; }
      .tour .section-content .box-section-content .box:last-child {
        margin-bottom: 0; }
      .tour .section-content .box-section-content .box h2 {
        margin-bottom: 25px;
        color: #1a2b49;
        font-family: GT-Eesti-Bold;
        font-weight: 700;
        font-size: 20px;
        font-size: 2rem;
        text-align: center; }
      .tour .section-content .box-section-content .box .txt {
        text-align: justify; }
      .tour .section-content .box-section-content .box ul {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: space-between;
        -moz-box-pack: space-between;
        -ms-flex-pack: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between; }
        .tour .section-content .box-section-content .box ul li {
          width: 30%;
          max-width: 296px; }
          .tour .section-content .box-section-content .box ul li .link {
            margin-top: 20px; }
            .tour .section-content .box-section-content .box ul li .link a {
              color: #1a2b49;
              text-decoration: underline; }
              .tour .section-content .box-section-content .box ul li .link a:hover {
                text-decoration: none; }

@media only screen and (max-width: 1024px) {
  .tour .section-banner .top-banner {
    height: 400px; } }

@media only screen and (max-width: 900px) {
  .tour .section-content {
    margin-top: 0; }
    .tour .section-content .review-count {
      font-size: 22px;
      font-size: 2.2rem; }
    .tour .section-content .filter-sort {
      text-align: right;
      margin-top: 20px; }
    .tour .section-content .filter-box {
      display: inline-block;
      cursor: pointer; }
    .tour .section-content .filter {
      display: block; }
    .tour .section-content .sort-box {
      position: relative;
      top: 0;
      right: 0;
      color: #777;
      display: inline-block;
      width: auto;
      padding: 0 20px;
      border: 1px solid #b7b7b7;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px; }
      .tour .section-content .sort-box::before {
        content: 'Sort:';
        font-size: 16px;
        font-size: 1.6rem;
        display: inline-block; }
      .tour .section-content .sort-box::after {
        display: none; }
      .tour .section-content .sort-box select {
        width: auto;
        height: 36px;
        padding: 0;
        outline: none;
        border: none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0; }
    .tour .section-content .main-section-content {
      position: relative;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: flex-end;
      -moz-box-pack: flex-end;
      -ms-flex-pack: flex-end;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      margin-top: 20px; }
      .tour .section-content .main-section-content .sidebar {
        position: static;
        margin-top: 40px;
        width: 100%; }
        .tour .section-content .main-section-content .sidebar .filter-sidebar {
          position: absolute;
          top: 0;
          left: -100%;
          width: 240px; }
        .tour .section-content .main-section-content .sidebar h2 {
          padding: 15px 9.19118%;
          margin-bottom: 13px;
          color: #fff;
          font-size: 20px;
          font-size: 2rem;
          line-height: 19.2px;
          background: #42c1c7; }
        .tour .section-content .main-section-content .sidebar .box-sidebar.why {
          padding: 0 5%; }
          .tour .section-content .main-section-content .sidebar .box-sidebar.why h3 {
            padding: 20px 0 15px;
            font-size: 20px;
            font-size: 2rem; }
          .tour .section-content .main-section-content .sidebar .box-sidebar.why .inner-box {
            margin-top: 10px;
            padding: 0 0 20px;
            font-size: 15px;
            font-size: 1.5rem; }
      .tour .section-content .main-section-content .main-hotel {
        width: 100%; }
    .tour .section-content .box-section-content {
      margin-top: 30px; }
      .tour .section-content .box-section-content .box {
        padding: 20px 5% 25px;
        margin-bottom: 30px;
        font-size: 15px;
        font-size: 1.5rem; }
        .tour .section-content .box-section-content .box:last-child {
          margin-bottom: 0; }
        .tour .section-content .box-section-content .box h2 {
          margin-bottom: 10px; }
        .tour .section-content .box-section-content .box ul li {
          width: 100%;
          max-width: inherit;
          margin-bottom: 20px; }
          .tour .section-content .box-section-content .box ul li:last-child {
            margin-bottom: 0; }
          .tour .section-content .box-section-content .box ul li .link {
            margin-top: 5px; } }

@media only screen and (max-width: 768px) {
  .tour .section-banner .top-banner {
    height: 300px; }
  .tour .section-banner .search-box {
    top: calc(100% - 90px); } }

@media only screen and (max-width: 480px) {
  .tour .section-banner .top-banner {
    height: 200px; }
    .tour .section-banner .top-banner img {
      left: 60%; }
  .tour .section-banner .search-box {
    top: calc(100% - 90px); } }
